[2016-06-22 05:07] gautamkrishnar opened #1 "cdn"
CDN for socli: This issue just act as a place to store files for external linking...

[2016-06-22 05:07] #1 closed, assigned to nobody

[2016-06-23 10:02] daegontaven opened #4 "socli on windows with py2 and py3"
i have both py2 and py3 on windows. I use py -2 and py -3 to open them respectively. But the socli command does not work. The command i used to install socli on cmd admin was:

    py -3 -m pip install socli

[2016-06-23 10:25] gautamkrishnar commented on #4
Have you tried installing it using pip3 command. It is actually located inside your installation of python 3?

[2016-06-23 10:25] gautamkrishnar commented on #4
@daegontaven what is the exact error you are receiving?

[2016-06-23 15:19] denfromufa opened #5 "autocompletion using cmd"
autocompletion using cmd module

[2016-06-23 15:28] gautamkrishnar commented on #5
Ok :+1:

[2016-06-23 19:13] gautamkrishnar commented on #4
@daegontaven it doesn't support python 2 i am implementing it on python 2 soon. Please use pip3 command to install socli

[2016-06-23 19:13] #4 closed

[2016-06-23 20:12] daegontaven commented on #4
No, i know that. But on my machine the only way to access python 3 is using the command

    py -3 -m pip install socli

After doing this it gets installed. But it does not run when i enter socli into command prompt.

[2016-06-23 20:42] gautamkrishnar commented on #4
@daegontaven  then you should try downloading the source and install it using setup.py. Download the latest source here: https://github.com/gautamkrishnar/socli/archive/1.4.zip

Extract the files. Open an administrative command prompt and use:
[code]

[2016-06-23 20:57] JonasGroeger opened #6 "Windows: "Failed to create process" when running `socli` without parameters"
PS C:\Users\jonas> pip install socli
Requirement already satisfied (use --upgrade to upgrade): socli in c:\program files\python35-64\lib\site-packages
Requirement already satisfied (use --upgrade to upgrade): BeautifulSoup4 in c:\program files\python35-64\lib\site-packages (from socli)
Requirement already satisfied (use --upgrade to upgrade): requests in c:\program files\python35-64\lib\site-packa

[2016-06-23 21:39] gautamkrishnar commented on #6
:+1:  thanks i will try to fix it..

[2016-06-23 21:56] gautamkrishnar commented on #6
It is actually a windows python bug. See:
http://stackoverflow.com/questions/24627525/fatal-error-in-launcher-unable-to-create-process-using-c-program-files-x86
http://stackoverflow.com/questions/31808180/installing-pyinstaller-via-pip-leads-to-failed-to-create-process
http://stackoverflow.com/questions/17373265/pip-easy-install-failure-failed-to-create-process

It has a workaround implemented sug

[2016-06-23 22:11] gautamkrishnar commented on #6
@JonasGroeger  you can try using easy install
[code]

[2016-06-24 05:19] psukys opened #7 "Formatting"
Would it be possible to add some formatting support, like colors?

[2016-06-24 05:37] gautamkrishnar commented on #7
Colors are already added on version 1.3 make sure that you have the updated version:
[code]

[2016-06-24 05:37] #7 closed

[2016-06-25 06:20] gautamkrishnar commented on #1
![pyh](https://cloud.githubusercontent.com/assets/8397274/16355101/edb3b98a-3aca-11e6-8db5-5f54cd4b9969.png)

[2016-06-25 06:39] gautamkrishnar commented on #1
# New SoCLI
![gifsocli](https://cloud.githubusercontent.com/assets/8397274/16355211/ae134c66-3acd-11e6-807f-adb8f3bbcf44.gif)

[2016-06-27 09:22] beeva-miguelsarries opened #10 "Show links"
When people ask or answer something they usually include some link/s for reference (source of the answer, codepen/pastebin/etc..), etc. It would be nice to have that urls displayed somehow.
Example:

[code]

That `**this**` has a link, which I appended under brackets.

[2016-07-03 16:09] #6 closed

[2016-07-04 15:35] AlexAkhremenko opened #12 "Mac: store socli in macports"
Can anybody implement it?

Refer: https://www.macports.org/

[2016-07-04 15:48] gautamkrishnar commented on #12
@AlexAkhremenko  I am not a mac user. Lets hope that someone can implement it.

[2016-07-04 15:50] gautamkrishnar commented on #12
@deanWombourne can you implement this one? What is your opinion on this?

[2016-07-05 17:46] gautamkrishnar commented on #12
@AlexAkhremenko i think someone is already working on it see:
https://www.freshports.org/misc/py-socli/

[2016-07-06 07:14] gautamkrishnar commented on #10
Fixed in pr #13

[2016-07-06 07:14] #10 closed

[2016-07-06 08:07] gautamkrishnar opened #14 "python 2 interactive mode exits automatically"
from the email from @cpu82
[code]

[2016-07-06 08:08] gautamkrishnar commented on #14
i found that its because of the python **input()** function. Changing it to **raw_input()** will solve the problem

[2016-07-06 08:09] #14 closed

[2016-07-06 09:42] beeva-miguelsarries opened #15 "Encoding error"
If I try "socli potatoe" (which I believe refers to https://stackoverflow.com/questions/2098127/google-appengine-object-with-id-com-google-appengine-api-datastore-keyproduc) I get "Encoding error: Use "chcp 65001" command before using socli...".

I'm on Ubuntu x64.

Could this be related with pr #13?

[2016-07-06 10:37] gautamkrishnar commented on #15
@beeva-miguelsarries i dont think that it is related to it... lets check

[2016-07-06 14:01] #15 closed

[2016-07-06 14:02] gautamkrishnar commented on #15
Fixed :smile:

[2016-07-15 08:04] ncbot opened #16 "Incorrect instructions for OSX"
The package `python-pip` does not exist in homebrew. The proper way to install `pip` on OSX is:

    sudo easy_install pip

Please update the readme.

[2016-07-15 08:16] gautamkrishnar commented on #16
@ncbot see the python documentation:
http://docs.python-guide.org/en/latest/starting/install/osx/

It shows that pip will be also installed while installing python....

I think we should need to correct this one:
[code]
to
[code]

Btw i am not a mac user. Can you please post any relevant links please....

Lets wait for the @deanWombourne's comment too

[2016-07-16 10:37] gautamkrishnar commented on #16
Lets fix this one...

[2016-07-16 10:40] #16 closed

[2016-07-27 18:36] Decagon opened #17 "Feature: automatically copy code to clipboard"
Allow the user to select the code chunk (with the keyboard) and press a button to copy it to the clipboard, maybe using `xclip`. This way, the code can be pasted into the editor very easily.

[2016-07-29 05:06] gautamkrishnar commented on #17
I think the default terminal has this feature. In Linux a user cam simply mark and select a piece of code displayed on the terminal. He can simply right click the terminal and copy the selected code. It is not required implement it using python...

[2016-07-29 12:31] Decagon commented on #17
The added advantage is that the user could keep their hands on the keyboard, as using the mouse is not really what terminals are meant for.

[2016-07-29 17:38] gautamkrishnar commented on #17
@Decagon  Okay, Thanks i will try to implement it :smile:

[2016-07-30 07:13] gautamkrishnar commented on #17
I can;t implement feature without adding a new dependency (pyperclip). Lets keep using the native method to copy the text from the terminal. I think there is no API to read the user selected text from the terminal. So, now lets keep this one closed.

If you know any native way of implementing this one (It must support all platforms) Please feel free to open a new pull request.

[2016-07-30 07:13] #17 closed

[2016-10-13 19:14] danidee10 opened #19 "Why is socli not using stackexchange's API"
I just came across this project this evening (GMT + 1) and i'm really interested in it (I've already given it a star)

I've gone through the code a little, and i discovered that socli uses beautifulSoup to scrape stackoverflow directly.

Wouldn't it be better and safer (because stackoverflow might decide to change their markup anytime) to use the official [API](https://api.stackexchange.com/docs)?

[2016-10-14 08:05] gautamkrishnar commented on #19
Yes we can use the api. I am also planning to use the api to add more interactivity to socli, so that you can add,  delete,  up vote etc using the command line interface.

I used beautifulsoup to make the searching process simpler.  Yes if stackoverflow.com changes their markup then it won't work. Really  Happy to hear that you are willing to contribute to this project :smiley:

[2016-10-14 15:10] #19 closed

[2016-11-19 06:19] gautamkrishnar opened #22 "Wrong UTF encoding in Python 2"
@kumarankit0411 reported that he's receiving wired characters while using SoCLI with python 2 on windows 10.
Eg command: `socli python loops`

![Screenshot](https://cloud.githubusercontent.com/assets/8397274/20453519/2cf1f6d8-ae4e-11e6-813c-a9a6b60c2fee.png)

-------------
Bounty link: https://www.collaborizm.com/thread/SJy0Jd6-l

[2016-12-11 05:03] #22 closed

[2016-12-12 19:24] gautamkrishnar opened #25 "Implement stackoverflow homepage browsing"
Make SoCLI a fully interactive stack overflow command line homepage browser.
* Display the questions on the page: http://stackoverflow.com/
* Ability to filter questions based on
         - Featured : http://stackoverflow.com/?tab=featured
          - Hot : http://stackoverflow.com/?tab=hot
          - Week : http://stackoverflow.com/?tab=week
          - Month : http://stackoverflow.com/?tab=mont

[2017-01-05 23:35] gautamkrishnar opened #28 "Use colorama instead of natively printing ASCII Color Codes"
Use Colorama https://pypi.python.org/pypi/colorama to improve color support.

Currently the color is not supported by windows platform.

If you like to take up this issue, leave a comment below ⭐️

### How to do
Just update the printing functions with corresponding colorama API call, Eg of a printing function:
[code]
Replace `print(format_str(str, bcolors.HEADER))` with colorama API call.

[2017-01-14 03:42] e-beach commented on #28
I want to make this happen, although I'm new to this project. Count me in!

[2017-01-14 10:00] gautamkrishnar commented on #28
(Y)

[2017-01-16 18:24] e-beach commented on #28
Sooo, the colors will not be quite as bright if we solely use colorama, as colorama does not support the high-intensity `\0333]9xm` (`x` in 0-7) color codes. But, I think it's acceptable. Alternatively, we could use different colors depending on the platform, but that would be complex and awkward for a minor difference.

Current:
![high-intensity-colors](https://cloud.githubusercontent.com/assets/

[2017-01-16 18:29] gautamkrishnar commented on #28
@e-beach Thanks. That won't be a problem. Its looking great... Please open a PR once it is complete 😄  👍

[2017-01-16 19:23] #28 closed

[2017-01-17 15:20] e-beach commented on #25
I'd be interested in implementing this, although of course this a substantial amount of work that could be done multiple people. A good model CLI is [rtv](https://github.com/michael-lazar/rtv), the reddit cli.
The first place to start is in displaying questions from http://stackoverflow.com/, and I'll get cracking on  a `--browse` command.

[2017-01-17 15:24] gautamkrishnar commented on #25
👍 Thank you. Yes i was also working on the same feature. You can start working on this. Please make use of the existing function calls for listing and displaying the answers and questions,

[2017-01-17 15:25] gautamkrishnar commented on #25
Are you gonna make an interface like  rtv too?. Shall i do it?

[2017-01-17 19:15] e-beach commented on #25
Well I've never made a fancy CLI using curses, so I would start out just being able to display the text and gradually make it more interactive. I wouldn't want to be working on the same stuff at the same time so there needs to be a clear division of labor - what would you like to do yourself in the next few weeks?

[2017-01-17 20:16] gautamkrishnar commented on #25
I am also just getting started with curses.
You can continue working on this, Its all your's now... I was just asking to know whether you are interested in creating the interface with curses. I will follow up once you submit the initial pull request. @e-beach

[2017-01-17 20:19] gautamkrishnar commented on #25
I think triggering the home page browsing when a person uses the  `socli` command will be easy to use rather than triggering it using `-b` and `--browse`. What's your opinion @e-beach ?

[2017-01-17 20:40] e-beach commented on #25
@gautamkrishnar Makes sense to me. But, we should not give up the command line flag scheme. The rtv client is basically a terminal browser, but I think a programmable command line interface, especially for querying for questions and posting questions, would be useful for SO.

[2017-01-26 13:49] gautamkrishnar commented on #25
@e-beach any update on this one?

[2017-01-26 15:11] e-beach commented on #25
@gautamkrishnar I have been busy lately with classes and working on other projects. Depending on how current things pan out, it may be some time before I can work this.

[2017-01-26 15:21] gautamkrishnar commented on #25
Thanks, Take your time, @e-beach

[2017-02-08 06:23] adityatandon007 opened #30 "Bug: Queries don't show the right/true results"
**Description of the bug**:

Running the socli command on terminal doesn't display the accurate or accurate results.

_People to notify_:
@gautamkrishnar

**Steps to recreate:**
Try this in your terminal window

`socli for loop in python syntax`

**Here is the screen shot of that command**
![screenshot from 2017-02-08 11-22-46](https://cloud.githubusercontent.com/assets/25108385/22725677/ef9a74cc-

[2017-02-08 06:29] adityatandon007 commented on #30
@gautamkrishnar don't suggest solve this on your. I don't want to claim but I think it will be good for newbies. I have DM you on slack about this :smiley:

[2017-02-08 06:39] adityatandon007 commented on #30
@gautamkrishnar I have commented few newbies but since I am not the owner of this repo, I cannot add the labels to it. Would you add a label for this like *first-timers-only* or *low-hanging fruit*. About first timers they are doing a great job. I have read an article about the first timers on the net

[2017-02-08 06:40] gautamkrishnar commented on #30
@adityatandon007 Added. :smile:  Thanks for reporting... :dancer:

[2017-02-08 06:44] gautamkrishnar commented on #30
## Instructions to fix
Just remove the `tab=votes&` from [line 18](https://github.com/gautamkrishnar/socli/blob/master/socli/socli.py#L18) of socli.py

[2017-02-08 11:14] Aksh77 commented on #30
@gautamkrishnar I will try fixing this.

[2017-02-08 11:20] gautamkrishnar commented on #30
@Aksh77 Thank you :smiley:

[2017-02-08 13:03] #30 closed

[2017-02-10 10:28] gautamkrishnar commented on #25
@e-beach shall i start working on the implementation? You seems quite busy...

[2017-02-10 14:52] e-beach commented on #25
@gautamkrishnar That would be a good idea...

[2017-02-16 02:49] e-beach commented on #25
@gautamkrishnar Have you had time to work on this? If not, I am freed up to start implementing this feature.

[2017-02-16 05:38] gautamkrishnar commented on #25
@e-beach you can continue... 👍

[2017-02-23 22:19] e-beach commented on #25
@gautamkrishnar
 I'm planing on using the curses wrapper [urwid](http://urwid.org).

Do you think an acceptable first step for this would be to write the `socli --interactive` mode to use urwid? One improvement that could be made is making the o,b,n etc inputs be read immediately, rather than having to press enter.

Also, curses is not supported on windows, so we might want to keep a basic windows

[2017-02-24 06:15] gautamkrishnar commented on #25
@e-beach looking good :+1: you can use urwind. Yes its better if we can implement the interactive mode with unwind as well. Yes lets keep the basic version for windows :smiley:

[2017-03-04 08:02] gautamkrishnar opened #32 "User profile implementation"
Allows user to browse his/her Stackoverflow profile.

[2017-03-04 14:57] #32 closed

[2017-03-04 16:26] gautamkrishnar commented on #25
@e-beach i had made some big changes to the code, Please keep your master uptodate while working on this...

[2017-03-05 01:05] e-beach commented on #25
@gautamkrishnar 👌

[2017-03-05 01:09] e-beach opened #33 "socli -u option fails with error for python2"
Error occurs because python2 does not support json.JSONDecodeError

[code]

Solution: use this https://github.com/getsentry/raven-python/pull/208/commits/1f6b6520be42ff58052699703b38a4e51767ef67
 I'll open a PR in a second.

[2017-03-05 05:29] gautamkrishnar commented on #33
Ih No... Travis CI Is showing tests success!. I will fix it.

[2017-03-05 05:33] gautamkrishnar commented on #33
👍 Got it. its the problem with exceptions...

[2017-03-05 06:30] #33 closed

[2017-03-06 14:11] gautamkrishnar opened #34 "Not displaying bold text in socli-iq"
input() function doesn't support it....
Creating a modified version will fix it...

![screenshot 316](https://cloud.githubusercontent.com/assets/8397274/23613261/bbf75ec2-02a4-11e7-9e80-90d005128e1d.png)

[2017-03-06 14:14] #34 closed

[2017-03-11 04:32] e-beach commented on #25
@gautamkrishnar For the very basic first step of this feature, I plan to modify the --interactive option such that the 'o, b, and n' options do not require pressing the enter key. On board?

[2017-03-11 06:04] gautamkrishnar commented on #25
Sure @e-beach 👍

[2017-03-26 23:52] e-beach commented on #25
@gautamkrishnar
This is a little demo of what I have been working on. I wonder if you could identify what you would like the feature on master to look like, or are you still very busy?

[![image](http://i.imgur.com/JiNsXLH.png)](https://asciinema.org/a/5pbq0ddb0e1dnwdt8ec9aik3i)

[2017-03-27 13:20] gautamkrishnar commented on #25
@e-beach buddy it looks cool ❤️... Yes i was busy these days attending Microsoft student partner summit....
Thanks a lot for making this a lot more awesome ⭐️

[2017-03-30 00:59] e-beach opened #37 "Use click command interface"
Using the [click ](http://click.pocoo.org/5/) interface would make the interface more modular. We could replace the command line parsing of inputs and delegation of commands with the click command's clean structure. Is this a change you feel is appropriate @gautamkrishnar?

[2017-03-30 00:59] e-beach commented on #25
Also, when or on what terms would you feel comfortable moving the code from the develop branch to the master branch?

[2017-03-30 09:59] gautamkrishnar commented on #25
@e-beach i will do that soon. Was busy with my academics...

[2017-03-30 10:07] gautamkrishnar commented on #37
Yes exactly @e-beach 👍

[2017-03-31 02:23] e-beach commented on #37
OK I'm going to implement this next to make other changes easier. If this had zero changes in functionality could you put it in the master branch?

[2017-03-31 05:36] gautamkrishnar commented on #37
Yes sure... you can make a PR to the master...

[2017-03-31 05:51] gautamkrishnar commented on #25
@e-beach Just merged it with master... Thanks a lot for your contribution....  You rocks! 🎸

[2017-04-01 05:16] gautamkrishnar opened #38 "Randomize user agents to prevent captcha check"
One of the user of reddit reported that he's receiving a captcha check error and it is showing as no result found in SOCLI
![screenshot 333](https://cloud.githubusercontent.com/assets/8397274/24575554/095f80c8-16c7-11e7-90a8-abddf99c3073.png)
## Steps to fix
* Use random user agents to prevent showing
* Inform user to do captcha check manually by detecting it from the URL.

[2017-04-07 21:15] #38 closed

[2017-04-07 21:29] gautamkrishnar opened #39 "Throwing error in windows"
SoCLI is throwing an error while it is using the interactive mode in windows...

![image](https://cloud.githubusercontent.com/assets/8397274/24820553/4b0df334-1c07-11e7-9bd3-02397337b264.png)

Debug output:
[code]
We need to implement the standard interactive mode in windows... @e-beach

[2017-04-07 21:37] gautamkrishnar commented on #39
Cause: https://github.com/urwid/urwid/issues/152

[2017-04-08 04:15] #39 closed

[2017-04-08 18:31] gautamkrishnar commented on #1
# New SOCLI
![gif](https://cloud.githubusercontent.com/assets/8397274/24831468/86c290aa-1cb7-11e7-8161-2665d0c02e4b.gif)

[2017-04-10 03:00] krruzic opened #41 "Vim Bindings or Arrows for Interactive mode"
Would be cool to use this to select which item in the list you want. Then press enter to select or whatever.

[2017-04-11 08:17] gautamkrishnar commented on #41
@e-beach what's your opinion on this?

[2017-04-12 04:40] e-beach commented on #41
I'm not sure what this means, because currently there are 2 menus for interactive mode.
The second menu (select answer) has the arrows in the manner described.
The first menu (select question) could be implemented with this, but would there be some sort of preview of the answers?

[2017-04-12 16:32] gautamkrishnar commented on #41
I don't think that previewing answers while displaying questions would be a good option...

[2017-04-13 07:11] #41 closed

[2017-04-16 22:30] cym13 opened #42 "No check of host certificate"
All calls with request.get have disabled certificate verification. This puts the user in danger of a man in the middle.

While the information in those pages isn't private this opens the door to modification of the results. Those results are then printed on screen.

One possible attack scenario is to inject terminal control characters. Some terminal emulators allow things like writing a log to a f

[2017-04-17 16:34] gautamkrishnar commented on #42
Thanks... 👍 Yes SSL must be enabled...

[2017-04-17 16:47] gautamkrishnar commented on #42
# Instructions to fix the issue
* Comment in this issue if you are interested 👍
* Find all lines containing:
[code]
* Change it to:
[code]
* Submit a new PR ⭐️

[2017-04-17 19:26] #42 closed

[2017-04-19 16:01] gautamkrishnar opened #46 "Use pydoc's pager module instead of normal print function"
One of the reedit users suggested that we must use pager instead of print function:
![screenshot 340](https://cloud.githubusercontent.com/assets/8397274/25189669/760df23e-2547-11e7-8f84-ad89f952bcbd.png)

### How to fix
* Comment on this issue if you are interested
* Use pager module (see the sample code in the screenshot)
* Fix:
Windows | Linux | Mac `socli -q` normal mode
Windows `socli -iq` int

[2017-04-20 01:04] e-beach commented on #46
Yes, I think this is a good idea.
However, there's another issue I'd like to mention. Have you looked at the program https://github.com/gleitz/howdoi? It is very similar to what we are doing, and one big difference is the search url they use, if you look at the source code. I think his system produces better results because it uses Google instead of StackOverflow's search engine.

[2017-04-20 09:53] gautamkrishnar commented on #46
Yes. I saw that. Do you think we need to google instead of stack overflow?.

The aim of stack overflow is providing user a command line interface to stack overflow. Not just providing users the ability to search in stackoverflow. That is what makes us different from howdoi.

If we are planning to implement the searching mechanism using google, we will have to rewrite the entire BF soup codes!

[2017-04-20 10:01] arount opened #48 "Silent quit when browsing unanswered quetions in interactive mode"
_I'm making an issue after the PR, the goal is to track bugs / PRs if this issue come back one day, hope it is appreciated._

When browsing in interactive mode an unanswered question `socli` just quit without any message.
I made a PR to fix the behavior which make thinking socli is bugged, which is not.

PR: https://github.com/gautamkrishnar/socli/pull/47

[2017-04-20 18:44] e-beach commented on #46
If the objective is to provide the best results porssible then I think we should use google.  Honestly, we can just copy with attribution (MIT license) the portion of the code from howdoi that does the search.
Observe:

Observe the difference:

**High-quality google search results**
![non-retarded method](http://i.imgur.com/hNOwNbp.png)

**Low-quality stack overflow search results:**
![retarded me

[2017-04-20 19:34] gautamkrishnar commented on #46
Yes i can see the difference...  We could use google search.... :+1:

[2017-04-21 15:41] gautamkrishnar commented on #48
👍 Thanks for reporting @arount 😄

[2017-04-21 15:51] gautamkrishnar opened #49 "Use Google search instead of default stackoverflow search"
Using Google search instead of searching on StackOverflow will increase the relevancy of the search results.
## Skills Required
- BeautifulSoup
- Python

## How to do it?
- Create a new function named `gsearch`
- Replace the current search mechanism with `gsearch` function call

## Things to remember
- Use `site:stackoverflow.com` in the query while using google search
- You must randomize user ag

[2017-04-21 16:00] gautamkrishnar commented on #48
Closed via #47

[2017-04-21 16:00] #48 closed

[2017-04-29 09:43] gautamkrishnar opened #50 "Change the year in LICENSE"
**Reserved for first time open source contributors...**
## How to do
* Edit [LICENSE](https://github.com/gautamkrishnar/socli/blob/master/LICENSE) and change the LICENSE year to `2017`
* Submit a new pull request

## Skills Required
* GitHub

[2017-04-29 11:36] amartyaamp commented on #50
Raised a PULL request, please check.

[2017-04-29 11:42] #50 closed

[2017-05-02 06:09] gautamkrishnar opened #52 "Add travis CI macintosh testing"
Currently socli is tested only on linux using travis CI. We must add Macintosh platform as well.

[2017-05-02 06:16] #52 closed

[2017-05-02 12:46] gautamkrishnar commented on #52
https://github.com/travis-ci/travis-ci/issues/7684

[2017-05-18 23:39] aaxu opened #55 "BeautifulSoup findAll returning empty list of links"
I repeatedly ran the command "socli python for loop" and sometimes it would come up with a "No results found..." message. I noticed that if you run multiple queries within a certain interval, it would return this message with a high percentage, but this issue is not only limited to when you run multiple queries within a certain interval. It appears as though calling findAll() on the BeautifulSoup

[2017-05-19 17:46] gautamkrishnar commented on #55
It may be because of the stackoverflow captcha  check. I will add some code in the next release to prevent this bug from happening again,

[2017-05-19 18:07] aaxu commented on #55
This seems to also occur when I switched to the develop branch which uses google to retrieve the links and I don't think Google has captcha checks

[2017-05-20 11:32] gautamkrishnar commented on #55
yes! that is a **work in progress** branch...

[2017-05-21 21:09] aaxu commented on #55
I updated the google search so it shouldn't cause an error again when using it to search. If you spam searches to google, after a while, it'll cause a captcha check, but I'm not really sure how to go about resolving that through terminal. However, normal users shouldn't really encounter this problem.

[2017-05-23 21:16] gautamkrishnar commented on #49
Completed ✔️

[2017-05-23 21:16] #49 closed

[2017-05-23 21:17] gautamkrishnar commented on #55
Fixed ✅

[2017-05-23 21:17] #55 closed

[2017-05-24 05:56] aaxu opened #60 "chcp 65001 Encoding Error"
I found that a particular page always produces this error on my Ubuntu which is using python 2.7.12. Try **socli -r 10 -q python for loop**. If this doesn't produce the error, then google probably changed the order of the results. You can try **socli -iq python for loop** and look for the result with the question name "How do I loop through a Python list by twos?"

Here is the link of the actual p

[2017-05-24 06:02] gautamkrishnar commented on #60
Encoding error on ubuntu! I thought that it would only happen on windows...

[2017-05-24 06:10] gautamkrishnar commented on #60
@aaxu are you using bash on ubuntu on windows 10?

[2017-05-24 06:23] aaxu commented on #60
No, I have dual boot windows 10 and Ubuntu 16.04 on one of my computers. This bug happened on Ubuntu which was using terminal.

[2017-05-24 06:42] gautamkrishnar commented on #60
You can simply use:
[code]
For installing socli for your python3. If it is throwing some error, just us `sudo easy_install pip`

[2017-05-24 06:50] aaxu commented on #60
Okay I just tested it by installing the python3 version on my Ubuntu. The bug seems to be fixed, at least for the page that I linked before.

[2017-05-24 08:06] aaxu commented on #60
Another example found for python 2.7 (which is conveniently linked inside the first example's question post):
`socli pythonic way to iterate over sequence`
link: https://stackoverflow.com/questions/3415072/pythonic-way-to-iterate-over-sequence-4-items-at-a-time

[2017-05-25 21:22] physicsnerd commented on #46
Hello, I'm interested, and I'm very much a first-timer.

[2017-05-26 10:54] gautamkrishnar commented on #46
Thanks a lot @physicsnerd As of now we used another type of implementation for this feature --> see https://github.com/gautamkrishnar/socli/pull/61

But it wont work for windows. So please implement the windows version using the pager module. 🍺

[2017-05-29 03:46] aaxu commented on #37
Is anyone working on this? I'm interested in taking over this issue.

[2017-05-29 04:20] gautamkrishnar commented on #37
Thanks @aaxu Waiting for the PR! 🍺

[2017-05-29 20:43] e-beach commented on #37
The problem with Click, I'm sorry to say, is that it is an <b>opinionated</b> framework that is not easily compatible with the current interface. It mainly exists to facilitate complex, interlocking CLIs for the Flask library.

I suggest using <b>argparse</b> instead, which would simplify the code while being more flexible and general. One root problem that made me consider changing the way arg pr

[2017-05-29 23:58] aaxu commented on #37
Do you mean its opinionated in that it assumes the program uses setuptools and virtualenv? I think click will work pretty well for this program although some slight changes may have to be made to the usage of the program. I think the only big changes to the user is that they will have to **pip install click** although it would be the same for argparse as well. There would also be some changes to t

[2017-05-30 04:20] e-beach commented on #37
@aaxu https://stackoverflow.com/questions/802050/what-is-opinionated-software
I mean that not all reasonable CLI syntaxes can be implemented with Click, and the current socli interface cannot be replicated with Click. It sounds like you have a good idea of what you want to do though.:smile: If you change the CLI, then there's no problem.

[2017-05-30 04:34] aaxu commented on #37
Ahh. Well I've just been reading up on click. The big problem with it is that it doesn't allow for flags that are off by default, have a default argument if none is specified, and take an argument if it is. It also can't take in an unknown number of arguments if a flag is specified (it can only always take in an unknown number of arguments). This is a problem because it would either remove the que

[2017-05-30 14:07] gautamkrishnar commented on #37
Yes I also think that using the argparse is a better option. Lets close this issue. Thanks @e-beach for informing us. Thanks @aaxu for your interest.

[2017-05-30 14:07] gautamkrishnar commented on #37
.
........

[2017-05-30 14:08] #37 closed

[2017-05-30 14:17] aaxu commented on #37
Hmm okay I'll take a shot at argparse and see how it goes.

[2017-05-31 05:10] sanjitjain2 commented on #46
Hello, I'm interested, I am a first timer and would take some time to understand the code. Is this issue still open?
I would like to help.
Can someone guide me?

[2017-06-05 07:30] sk364 opened #70 "Implement Terminal Mode"
Make SoCLI a REPL.
Command : socli --terminal
To Quit : Ctrl + c

Implementation :
I will be using the Python Prompt Toolkit to develop this feature.
It will use the interactive mode feature to display questions and answers.

Any kind of query on this feature will be appreciated.

[2017-06-05 11:47] sk364 opened #71 "Bug in Specific Result Search ('--res/-r' argument)"
There seems to be no error message when the user specifies a value less than zero for the argument '--res/-r'
Example query -
`socli --res -10 -q <query_string>`

[2017-06-05 11:48] sk364 commented on #71
I can fix it. Shall I ?

[2017-06-05 14:06] aaxu commented on #71
This is addressed in #69 when i implemented the new parser

[2017-06-05 15:12] gautamkrishnar commented on #71
@sk364 Sorry. It was already implemented by @aaxu. Closing this one...

[2017-06-05 15:12] #71 closed

[2017-06-17 14:44] physicsnerd commented on #46
I'm going to assume that I should stop working on the solution I have (it's mostly finished)?

[2017-06-17 20:42] gautamkrishnar commented on #46
Sorry @physicsnerd this issue is already fixed partially using interactive mode... We must add pydoc module for windows since windows dont support the interactive mode... As of now you must stop working on the solution because we have some breaking changes to be implemented.... I will inform you once it is ready...

[2017-06-19 00:58] physicsnerd opened #75 "Expand to other stack exchange sites?"
Could this be expanded beyond Stack Overflow?

[2017-06-19 08:46] gautamkrishnar commented on #75
Sounds like a good idea... We can create seporate program named `secli` for this... I am not planning to expand socli to other stackexchange sites, since it is only intented to make stackoverflow search easier.

[2017-06-19 08:48] gautamkrishnar commented on #75
The main problem is that their are hundreds of stackexchange sites.... 😄

[2017-06-20 10:05] arount commented on #75
_long post imcoming :/_

[code]

It seems making [these vars](https://github.com/gautamkrishnar/socli/blob/master/socli/socli.py#L21-L22) dynamic will do the job.

Only [`socli.userpage`](https://github.com/gautamkrishnar/socli/blob/master/socli/socli.py#L678) require to be 'refactored' nah ?

[2017-06-27 21:58] gautamkrishnar commented on #75
@arount yes... Just modifying the query vriable is required... are u sure that all the stackexchange sites use the same HTML classes on the code?

[2017-06-28 09:23] arount commented on #75
@gautamkrishnar Ho, I did not even think about it ^^.
Did you want I make you a kind of poc about that ?

[2017-07-03 02:18] donnell794 opened #80 "0:82 Execution Error when opening in browser on MacOS"
When opening a question using the 'o' command on MacOS, there is an execution error thrown saying "0:82 Execution Error: "{link}" doesn't understand the "open location" message
<img width="1140" alt="screen shot 2017-07-02 at 10 02 52 pm" src="https://user-images.githubusercontent.com/11854190/27775676-4bb5e7fc-5f72-11e7-9f6c-8626a0ad287e.png">

In addition to this error, the link also does not op

[2017-07-06 17:29] donnell794 commented on #80
anything i can help with? it seems like the big fish (homepage browsing) is already being taken care of

[2017-07-06 19:31] gautamkrishnar commented on #80
Nothing as of now @donnell794... I will open a new issue if I need any help. Thanks 😄

[2017-07-09 14:18] physicsnerd commented on #75
@gautamkrishnar, @arount - I'm pretty sure that classes are not the same on the code, though I can double check with a meta question. For example, looking at the top nav bar alone on Stack Overflow, it uses classes like "navigation"; on other sites like Physics, it uses classes like "topbar-icon" and so on.

[2017-07-09 14:22] physicsnerd commented on #75
Looking at the question pages, their structure seems to be fairly similar, and the classes for the question content seem to be the same. Now that I think about it, the Stack Overflow nav bar was recently redesigned, so the different classes could be related to that and nothing else.

[2017-07-09 14:55] physicsnerd commented on #75
I'm working on a way to make the vars already specified dynamic - I think I have a decent solution, I'll let you know when it's finished.

[2017-07-09 16:15] physicsnerd commented on #75
I've got the solution now:

[code]
Along with a text file containing all the site links. Run it [here](https://repl.it/JTBY/10) to test it.

I forked socli already, but it's not at all up to date with recent commits and also has some code working on a separate issue. How do you want it to be added? Should I fork the repository again?

[2017-07-10 04:06] gautamkrishnar commented on #75
We have a few developments going on the [Develoo](https://github.com/gautamkrishnar/socli/tree/develop) branch. You can fork a fresh version if you want. Can you please wait till the next release so that we can manage this big change?.

[2017-07-10 15:16] physicsnerd commented on #75
@gautamkrishnar  yep, I can wait until the next release - I'll keep an eye on that branch for it. Thanks for your help!

[2017-07-10 22:39] donnell794 commented on #12
I am a Mac user and am willing to implement, just not to sure how. I'll look into it if you all would like. Any guidance @AlexAkhremenko ?

[2017-07-11 05:19] gautamkrishnar commented on #12
@AlexAkhremenko u can use the guide: https://guide.macports.org/#development

[2017-07-11 16:22] MatejMecka commented on #12
why not homebrew?
or is there one already

[2017-07-11 16:49] gautamkrishnar commented on #12
No, it's not available in homebrew yet. If you are inetrested pls create one...

[2017-07-13 14:54] #12 closed

[2017-07-13 14:54] #80 closed

[2017-07-13 22:11] xattack opened #82 "socli doesn't work with fish shell"
may be it's a dumb issue but when i'm ussing fish shell , socli doesn't show any answer . If i switch to bash it works . Any workaround for this incident ?

[2017-07-13 22:14] xattack commented on #82
please forget it . It works

cheers

[2017-07-14 04:26] gautamkrishnar commented on #82
@xattack Thanks for letting me know :tada:

[2017-07-14 04:26] #82 closed

[2017-08-01 16:16] vikramnr opened #83 "Not able to use in windows"
Is there any docs on how to use it on windows.

[2017-08-01 16:29] gautamkrishnar commented on #83
@vikramnr Its Simple...

1. - Just download and install python from the linK: https://www.python.org/ftp/python/3.6.2/python-3.6.2-amd64.exe
2. - Don't forget to check "Add to path" while installing python...
3. - After installing reboot your PC
4. - Open a command prompt as admin and run `pip install socli` command

[2017-08-02 05:27] vikramnr commented on #83
@gautamkrishnar  I have installed socli but I'm not able use it.  I have tried few examples provided but its not working.  Could please advise on the usage.

[2017-08-02 08:27] gautamkrishnar commented on #83
try
[code]

[2017-08-02 16:22] vikramnr commented on #83
@gautamkrishnar  I'm able to use the tool and its great.  But I think usage can also contains screenshots for windows.  If you don't feel like kindly go ahead and close the issue.

[2017-08-02 18:29] gautamkrishnar commented on #83
Really happy to know that it worked... We are focusing more on Linux and bash... Some of our dependencies don't support windows... Adding windows screenshots will make readme harder to read. If you need to use socli to its full potential please consider using it with bash on windows: https://msdn.microsoft.com/en-us/commandline/wsl/about

[2017-08-02 18:29] #83 closed

[2017-08-05 05:55] gautamkrishnar opened #84 "Release Version 3.7: Windows"
The Recent update to the code made SoCLI incompatible with windows... We used urwind which will not work on windows terminal. We need to update the internal logic such that the SoCLI will offer minimum functionality in windows without using urwind.

The current code is at [Develop](https://github.com/gautamkrishnar/socli/tree/develop) branch...

#### Python knowledge required: Advanced

[2017-08-07 11:09] johnashu commented on #84
Hi,

I use windows 10 and both in Command Prompt and PowerShell work fine..

I was going to attempt to fix this problem but it appears fine..

Can you be more specific on the error or maybe its another module needing an update?

Anyhow.. Its  an amazing program .. love it!

[2017-08-14 14:52] mohamedotnet commented on #60
I got the same error on Ubuntu 17.04.

[2017-09-10 10:48] thumpri opened #90 "Stack Overflow authentication"
To make it possible to login via command line.

[2017-09-10 10:49] thumpri commented on #90
Hi,
I'm Priyanshi.
I'd like to contribute to this feature. I know Python.
I'm new to open source but I'm willing to dedicate as much time required for this.
Can anyone help me get started?

[2017-09-10 10:55] thumpri commented on #70
I'm sorry but I didn't quite understand the new feature's implementation.
We already have the interactive mode to display questions and answers, what additions are you suggesting?

[2017-09-10 10:57] sk364 commented on #70
This feature can make SoCLI a REPL, as I mentioned. You can write questions directly in the shell-like interface, without the need to remember the commands.

[2017-09-10 11:09] thumpri commented on #70
When we are in the interactive mode, we don't have to remember any commands.
For instance, socli -iq html error 404
Then all that is required is to press left arrow, top/down arrow or the index of the question we want the answer for.
What am I missing here?

[2017-09-10 11:12] sk364 commented on #70
But, then after your query, you get back to terminal, what if you wanted to ask another question!

[2017-09-10 11:16] thumpri commented on #70
Oh okay.
I had never heard of REPL before. Sounds interesting.
Are you working on this feature?

[2017-09-10 11:51] sk364 commented on #70
https://en.wikipedia.org/wiki/Read–eval–print_loop

I did open a PR. I hadn't seen what happened to it.

[2017-09-10 17:44] gautamkrishnar commented on #90
Dear @thumpri, Welcome to the project :1st_place_medal:. Really happy to know that you are interested.
I am planning to use StackExchange API for StackOverflow login. Read more about it here: https://api.stackexchange.com/docs/authentication

Currently, we are using [Py-StackExchange](https://github.com/lucjon/Py-StackExchange) wrapper for the **user info** feature. I don't think that the login AP

[2017-09-10 19:01] gautamkrishnar commented on #70
We have some issues related to this implementation since we added interactivity to all socli sub commands. So we are not planning to implement this as of now.

[2017-09-10 19:01] #70 closed

[2017-09-11 17:02] thumpri commented on #90
Okay great!
I'll start working on it from tomorrow and thanks a lot for the assistance.
:)

On Sun, Sep 10, 2017 at 11:14 PM, Gautam krishna.R <notifications@github.com

[2017-09-11 17:40] gautamkrishnar commented on #90
:+1:

[2017-09-12 09:47] prashantchahal26 commented on #90
Hey,
I m Prashant and I would also like to contribute to this project with this authentication feature and others as well.
Could you just help me get started with it ?

[2017-09-12 12:50] gautamkrishnar commented on #90
@prashantchahal26 sorry Prasanth as of now this feature is assigned to @thumpri. She informed me that she's working on it. Thanks a lot for your interest. Please feel free to implement any other faleatures. I will be adding some more things to the todo list soon.

[2017-09-12 18:19] prashantchahal26 opened #91 "Posting on overflow and commenting."
I can pick this topic as soon as we are done with the authentication this feature can be implemented.
Thanks @gautamkrishnar

[2017-09-12 20:31] gautamkrishnar commented on #91
You must wait till the authentication feature is implemented by @thumpri. You guys can also discuss the implementation in this issue.

[2017-09-13 04:25] prashantchahal26 commented on #91
Okay thats sounds good. We can work together on the authentication feature and work on these features later.

[2017-09-13 13:44] prashantchahal26 commented on #90
Hey Gautam, is it possible to add authentication feature via OpenID connect ?

[2017-09-15 20:11] maxschlosser opened #92 "SoCLI fails without X"
I was trying to use SoCLI without a running X Server in interactive and single query mode.  Both only show part of the result and then immediately close.

I used the following queries:
1. `socli -iq java for loop`
2. `socli -q java for loop`
3. `socli -q java` (this one apparently works fine)
4. `socli -iq java`

I am using python 3.6.2 and zsh 5.4.1.

It apparently works perfectly fine when runni

[2017-09-16 16:21] gautamkrishnar commented on #92
Thanks for reporting...

[2017-09-18 18:51] gautamkrishnar commented on #84
@johnashu I just need someone to test whether all the features are working fine on windows.  Happy to know that its working fine. We are going to release version 3.7 soon.

[2017-09-18 19:08] gautamkrishnar opened #93 "Needs testers: Release Version 3.7"
I am planning to release **SoCLI 3.7** we need to make sure that all the features of SoCLI are working fine on the following platforms:

- [X]  Windows : #84 **Tested**
- [x]  Linux:
- [x]  Mac:

### How can you help?
We need testers to make sure that the SoCLI is working fine on the above platforms:
* Comment on this issue and let everyone know that you are testing. :smile:
* Just clone SoCLI. Yo

[2017-09-18 19:15] gautamkrishnar commented on #46
Added interactive mode.

[2017-09-18 19:15] #46 closed

[2017-09-18 19:16] #5 closed

[2017-09-18 19:59] serendipity5497 commented on #92
Hi, I am a beginner and I would like to contribute to it.

[2017-09-18 21:52] gautamkrishnar commented on #92
Hi @serendipity5497. I am not sure whether it is fixable because It might be the issue of some  dependencies. Please verify whether you can  reproduce the bug in your pc.

[2017-09-19 08:47] maxschlosser commented on #92
Using the sources (invoked with `python3 -i socli.py -iq hello world` on master/develop) i got the following stack trace (might lack some info, im unable to copy from my no X session).

Standard queries apparently work correctly this way.

[code]
On `develop` the stack trace starts at `dispres (line 425)`.

This might be an issue with urwid.

[2017-09-20 07:50] cbarillas commented on #93
Hi, this is my first time contributing to an open source project. I ran all the commands in the readme and everything worked fine on Linux (Ubuntu 16.04). However, in your readme, for the command `socli -t javascript,node.js -q window.open` there should be a space after the comma. Without it I get "No results found..." Other than that, all the commands worked well. Very cool CLI by the way!

[2017-09-20 08:23] prashantchahal26 commented on #93
The keys for next, previous and back are not shown in interactive query when I am running Socli on my Mac. Although it works fine using up, down, left and right key but the help options are shown wrong. It just displays " ?: ".

[2017-09-20 08:34] cbarillas commented on #93
For me it just shows the option `0-9: select a question, any other key: exit` The arrows work fine when you select a question. The help command also works for me.

[2017-09-22 06:32] thumpri opened #95 "-r command works for negative inputs as well"
for e.g.-
socli$ python3 socli.py -r -5 -q http

It yields a result instead of showing, enter positive index only.

[2017-09-22 07:40] gautamkrishnar commented on #95
cool... looks like a bug... :grinning:. you can fix it if you are interested...

[2017-09-22 16:02] thumpri commented on #95
Yes! I have worked on it. Will be sending you a pull request shortly.

[2017-09-22 19:05] gautamkrishnar commented on #95
@thumpri reported to me personally that this is working fine for development branch.

[2017-09-22 19:05] #95 closed

[2017-09-22 19:09] gautamkrishnar commented on #91
@prashantchahal26 Lets close this for now due to some technical issues. @thumpri told me that you guys are working on implementing the stackoverflow homepage browsing feature. Thanks again for your intrest :smile:

[2017-09-22 19:09] #91 closed

[2017-09-22 19:18] gautamkrishnar commented on #90
@prashantchahal26 lets keep this on hold until the next major release.  I still have to investigate on the best method to implement this. Let's close this for now, we will reopen this and #91 sometime later...

[2017-09-22 19:18] #90 closed

[2017-09-22 19:19] gautamkrishnar commented on #93
@prashantchahal26 thanks for taking your time testing it, Please recheck whether the issue still exists in your develop branch. Just use the following command to pull the latest changes:
[code]

[2017-09-22 19:24] gautamkrishnar commented on #92
thanks @maxschlosser for investigating the issue. As I mentioned earlier,  @serendipity5497 we can't-do anything on our side to fix the issue. Please try opening an issue at [urwind main repository](https://github.com/urwid/urwid) notifying them about the issue.

[2017-09-22 19:24] #92 closed

[2017-09-23 18:32] prashantchahal26 opened #96 "Arrow Keys were not displayed while interacting with queries."
The arrow keys ( up, down and left ) were not displayed and instead "?" was printing. Now I have made the changed and converted the code for keys to UnicodeText which helps in reading the instructions now.

[2017-09-25 05:29] prashantchahal26 commented on #93
0:54: execution error: "http://stackoverflow.com/questions/ask" doesn’t understand the “open location” message. (-1708)
Still has the same error.

[2017-09-30 21:56] gtseres opened #100 "Replace argparse with docopt for describing CLI options and help"
There's a great tool called [docopt](http://docopt.org/) that simplifies the whole argument parsing and help displaying process. What one has to do is to add a POSIX compliant docstring to the file they need the help to be displayed in, and use docopt to parse it. docopt will then automatically generate all the CLI argument parsing and help displaying.

[2017-10-01 10:31] gautamkrishnar commented on #100
@aaxu what do you think about this. Since @aaxu implemented the new parser using argparse i need his word on this, let's wait for his reply @gtseres. We also have some pending PRs that need to be merged. Lets hold this back untill the next version.

[2017-10-12 09:50] dzulfahmi commented on #93
I have try to install it on ubuntu 16.04 using python 2.7
When I run this command sudo pip install requirements.txt, there was some message:
  Could not find a version that satisfies the requirement requirements.txt (from versions: )
  No matching distribution found for requirements.txt
Then, when I run command sudo python setup.py install, there is run well
I have tried all function in https://gi

[2017-10-16 14:59] Souvikray commented on #25
Hey is the issue still open?Can I take this up?

[2017-10-16 19:05] gautamkrishnar commented on #25
@Souvikray sorry please wait i will notify you once its ready. Currently, we have some unmerged pull requests.

[2017-10-19 20:40] LySofDev commented on #93
Lenovo Yoga 910 - Solus 3 (Linux 4.13.5)

Cloned the repository and setup a virtual environment:

[code]

Tried running:
[code]

 but receive this error:
[code]

Ignored error and ran:
[code]

All commands worked.

[2017-10-20 10:55] gautamkrishnar commented on #93
@LySofDev thanks. Please use `pip install -r requirements.txt` to install the requirements. My bad, I specified it as `pip install requirements.text` in the issue. It is now updated. Thanks for letting me know that everything works fine.

[2017-10-20 23:06] GrugLife commented on #25
Hey, how is this coming along?  I'd like to work on it.

[2017-10-22 11:29] sebastianseitz commented on #93
Tested in on macOS 10.12.6 and python 2.7.14, everything seems to work as intended.

[2017-10-22 11:30] sebastianseitz commented on #93
Comment to the issue description:
- Please do not encourage users to use `sudo pip` to install dependencies, this is discouraged (https://stackoverflow.com/questions/21055859/what-are-the-risks-of-running-sudo-pip)
- Telling people to setup a virtual environment for socli would be helpful (and avoid the sudo issue)

[2017-10-23 19:50] rebeccamorgan commented on #93
I've been testing on macOS 10.13 and Python 2.7.14, and noticed that for users who haven't done any questioning or answering the URLError exception failed in Python 2. I have submitted #105 to change this import depending on version and re-structure the stats printed when there are no questions/answers returned. Thanks!

[2017-11-05 15:50] LuckyPigoen opened #107 "AttributeError: 'module' object has no attribute 'SSL_ST_INIT'"
When I use socli, and this message occurred, how can I fixed it?

Traceback (most recent call last):
  File "/usr/local/bin/socli", line 11, in <module>
    load_entry_point('socli==3.6', 'console_scripts', 'socli')()
  File "/usr/local/lib/python2.7/dist-packages/pkg_resources/__init__.py", line 570, in load_entry_point
    return get_distribution(dist).load_entry_point(group, name)
  File "/usr/

[2017-11-07 10:10] sramakrishnan247 commented on #93
Tested on Ubuntu 17.04. Everything seems to work fine.

[2017-11-07 23:03] SuperMeepBoy commented on #107
I was just watching the project. I haven't used it at the moment so I can't help you but you might want to tell people what command you typed to help them investigate on the issue. Even if it's not useful in this particular case (again, I don't know, maybe it is !) it's a good habit to tell people what you did and what result you have. :)

[2017-11-12 16:07] LuckyPigoen commented on #107
Hey there, thanks for you telling me the tip, here's the command I use with socli, I just type "socli", and then the wrong msg occurred, so I think I need help, because I can't use socli to do anything, I've tried to installed it again, but it won't work, and as I put any keyword or any argument or even left it a blank, it will show the same error message. Thanks

[2017-11-14 13:13] DhruvThakker commented on #25
Is this Issue still open I would like to work on it.Looks interesting.

[2017-11-15 08:35] sk364 opened #109 "Code Maintenance"
The current code is written in a single file (1,280 lines currently), which is soon going to unmanageable and unsanitary. I think it should be modular in nature, separated out into modules for their specific purpose.

For example:
* Separating printing to console methods in `helpers.py` (or, printer.py).
* Separation of `interactive` mode feature into `interactive.py`.
* Separation of `users` info

[2017-11-18 15:04] mohamedotnet commented on #109
I can participate in that.

[2017-11-18 20:39] mohamedotnet commented on #107
@LuckyPigoen try this: socli.py -u 1

[2017-11-20 02:11] LuckyPigoen commented on #107
@mohamedotnet  I got the same error when using socli -u 1. Thanks

[2017-11-20 07:35] gautamkrishnar opened #111 "Needs maintainers"
This project was started as one of my side projects. Now it has gone beyond my control. I am really thankful to the existing contributors and users of this project for making it a grand success 😄

Due to my work schedules, I might be unavailable to do proper fixes for this project on time. I understand that the project is not at all manageable by a single person right now since it had grown furthe

[2017-11-21 12:35] gautamkrishnar commented on #109
yes @sk364 I was thinking about it... I am busy with my job and i am not getting time to merge all these pending pull requests... We can think about this after merging all the pending ones...

[2017-11-25 15:29] FredMougel commented on #93
Hello,
This is my very first collaboration as a newbie.
I have installed socli on ArchLinux with kernel 4.13.12-1-ARCH. The install went fine but I have an error message everytime I try one of the search suggestions:

[code]
Does it have to do with the Python version?
[code]

[2017-11-25 15:56] gautamkrishnar commented on #93
@fredmougel thanks for reporting... Its not related to python version. Its a syntax error. Will look into it soon...

[2017-11-25 16:26] johnashu commented on #109
I am interested in this. :)

[2017-11-28 08:53] sk364 commented on #109
@johnashu Let's discuss your approach to this.

[2017-11-28 14:48] gautamkrishnar commented on #111
Welcome @Aksh77 and @exepaul to the team :smile:

[2017-12-05 11:49] simon3270 opened #112 ""socli -u" crashes if a user hasn't asked questions or if they haven't answered any"
I've answered a couple of questions but not asked any, so socli -u crashes with:

$ socli -u

 User: simon3270

        Reputations: 151

        Badges:
                   Gold: 0
                 Silver: 1
                 Bronze: 3
                  Total: 4

        Stats:
Traceback (most recent call last):
  File "/usr/local/bin/socli", line 9, in <module>
    load_entry_point('socli==3.6', '

[2017-12-05 20:55] mohamedotnet commented on #112
I pulled a request #110 , waiting for it to be merged.

[2017-12-06 13:07] simon3270 commented on #112
I think request 110 is already done (pretty sure it's already in my fork).

My fix was to the:
    rate = accepted / float(total_questions) * 100
line just above yours - that does a divide-by-zero if no questions have been asked.

[2017-12-31 08:06] eranzim opened #114 "Fix PyCharm Warnings"
I opened the project with PyCharm and got many errors and warnings, there are some good stuff there that really should be fixed.

[2017-12-31 08:07] eranzim commented on #114
I'm a first-timer helping out in open-source projects, and would be happy to take this one on myself if that's ok?

[2018-01-14 13:54] Sukhada11 commented on #6
I am use any feature on windows .
I have installed socli successfully
_D:\Python\socli>pip install socli
Requirement already satisfied: socli in c:\users\welcome\appdata\local\programs\python\python36-32\lib\site-packages\socli-3.6-py3.6.egg
Requirement already satisfied: BeautifulSoup4 in c:\users\welcome\appdata\local\programs\python\python36-32\lib\site-packages (from socli)
Requirement already

[2018-01-14 13:55] Sukhada11 commented on #93
I am use any feature on windows .
I have installed socli successfully...None of the usage worked for me on Windows 10-64 bit.
_D:\Python\socli>pip install socli
Requirement already satisfied: socli in c:\users\welcome\appdata\local\programs\python\python36-32\lib\site-packages\socli-3.6-py3.6.egg
Requirement already satisfied: BeautifulSoup4 in c:\users\welcome\appdata\local\programs\python\python

[2018-01-19 17:34] dattadebrup commented on #93
Hi, this is my first  attempt in an open source project.I tried to install socli on `Windows 10 `as per the instructions given above but it failed to install 'urwid' with the error message `ValueError: Unknown MS Compiler version 1900`. Since urwid is not available for windows I think we have to use an alternative module for windows compatibility.Please let me know if any one else is working on th

[2018-02-04 14:43] #112 closed

[2018-02-04 14:43] gautamkrishnar commented on #112
This is now fixed

[2018-02-04 14:44] gautamkrishnar commented on #114
@eranzim sorry... not planning to do this right now.

[2018-02-04 14:44] #114 closed

[2018-02-04 14:45] gautamkrishnar commented on #109
Reserved for RGSOC(https://railsgirlssummerofcode.org). Closing this now.

[2018-02-04 14:45] #109 closed

[2018-02-04 14:47] #100 closed

[2018-02-04 14:48] gautamkrishnar commented on #96
fixed

[2018-02-04 14:48] #96 closed

[2018-02-04 14:49] gautamkrishnar commented on #93
Thanks a lot for the input everyone. We will release the new version soon after fixing all this bugs.

[2018-02-04 14:49] #93 closed

[2018-02-04 14:49] #84 closed

[2018-02-04 14:52] gautamkrishnar commented on #75
Lets keep this issue on hold for sometime. We have some pending feature implementations. Will reopen once ready.

[2018-02-04 14:52] #75 closed

[2018-02-04 14:52] #107 closed

[2018-02-04 14:53] #60 closed

[2018-02-13 18:01] Anjalizi opened #117 "AttributeError: 'module' object has no attribute error"
![capture](https://user-images.githubusercontent.com/26696144/36165472-ad2c26fe-1115-11e8-96a5-a8b8dca5cc35.PNG)
I'm receiving this error when I wrote the command
`socli -u`

[2018-02-13 19:53] gautamkrishnar commented on #117
Thanks @anjalizi for reporting the issue. This one is already fixed ans the fix is available on the development branch. It will be available on the next realase.

[2018-02-13 19:54] #117 closed

[2018-02-20 19:50] varshika03 opened #119 "Text formatting to increase readability"
It would be great if the displayed result on the terminal looks very similar to the original one on the web page. Rather than printing all the text inside the 'post-text' class, there can be distinctions for different html tags like highlighting for <code> tag or blue and underlined for hyperlinks.
Formatting for other HTML tags can also be thought of so as to make the output more appealing.

[2018-02-20 21:05] gautamkrishnar commented on #119
:grinning: thanks a lot @varshika03 looks like a good feature .

[2018-02-23 17:57] Rohithgilla12 commented on #119
Hey, is this still open i a ready to take it up :+1:

[2018-02-24 11:36] nupurgunwant opened #120 "Interactive feature not working appropriately"
After running `socli -i -q <query>` ,` <any number>` : back, previous, next and open are the 4 options in the end.
"Next" is sending to the previous answer
"Previous" isn't working
"Back" is sending to the next answer
And there is no key to *exit*

[2018-02-24 12:20] elath03 opened #121 "Improvising the --user"
When we run `socli -u` , id is asked and after entering the id the information of user is displayed and the command is terminated. We have to again run `socli -d`.
Instead after running `socli -u`, id we can add 3 options:
1. check another user (automatically deletes the current configurations and asks for new id which we
want to access)
2. Delete ( to delete the current configuration)
3. Exit

[2018-02-24 12:31] gautamkrishnar commented on #121
Good suggestion 👍 Just assigned you...

[2018-02-24 16:06] gautamkrishnar commented on #120
thanks @nupurgunwant for reporting. this might be a bug. please do let me know once u had found the root cause.Assigned this to u.

[2018-02-24 16:09] gautamkrishnar commented on #119
@Rohithgilla12 thanks for your interest. This one is already assigned to @varshika03.

[2018-02-24 16:15] Rohithgilla12 commented on #119
Hey itsk dude, I will take up another issue in the future :)

[2018-02-24 18:20] swastishreya opened #122 "Integrating socli with IDE's"
Creating a socli plugin for popular IDE's which will allow the user of the IDE to directly click on the link for the stack overflow solutions.

[2018-02-26 09:41] kalyaniasthana opened #126 "-bash: socli: command not found"
kalyaniasthanaMon Feb 26~ $ pip3 install socli
Requirement already satisfied: socli in /usr/local/lib/python3.6/site-packages
Requirement already satisfied: colorama in /usr/local/lib/python3.6/site-packages (from socli)
Requirement already satisfied: urwid in /usr/local/lib/python3.6/site-packages (from socli)
Requirement already satisfied: BeautifulSoup4 in /usr/local/lib/python3.6/site-packages

[2018-02-26 12:53] varshika03 commented on #126
Have you tried changing your PATH? I think this should work for mac :  <br> Type export PATH="/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin" in the terminal.<br> If that fixes it, you can permanently resolve it by altering ~/.bash_profile file.

[2018-02-27 06:23] snehalgupta opened #127 "Lazy-loaded feature"
The lazy loaded feature works simply like any other infinite loading / lazy loading website.  The more you scroll, the more we load. Say, for example, I was looking for list of questions with a specific tag. The tool could show the top 10 questions, then as soon as I reach the end of scroll, it loads ten more! And this goes on until I want it to stop. @riyasinha and I are planning to work on this

[2018-02-27 10:37] kallepallimounikasmitha commented on #126
Did you try : pip install socli ?

[2018-02-27 11:30] kalyaniasthana commented on #126
Yes

[2018-02-28 10:56] kallepallimounikasmitha commented on #126
I think it is because of the python version (maybe). I am using 2.7 version it works fine for me!

[2018-02-28 15:34] gautamkrishnar commented on #126
Hi @kalyaniasthana please run
[code]

[2018-03-13 08:09] LuckyPigeon opened #128 "AttributeError: 'module' object has no attribute 'SSL_ST_INIT'"
Last time I use socli, "AttributeError: 'module' object has no attribute 'SSL_ST_INIT'" occurred, now I solved it, and I want to prevent some one has been annoyed with this error. So I want to write this error and it's solution on the document in socli, can I?

[2018-03-16 05:54] kalyaniasthana commented on #126
not working
<img width="1279" alt="screen shot 2018-03-16 at 11 24 01" src="https://user-images.githubusercontent.com/7582857/37505781-95c946fe-290c-11e8-81d5-6196e66e5976.png">

[2018-03-16 16:04] #128 closed

[2018-03-18 02:39] LuckyPigeon opened #130 "socli -u if user don't ask question crash"
Recently I use stackoverflow.com's user list to test socli -u's fuction, then I find out that socli -u if the user don't ask and question then the program will failed.
The error message just like this
Traceback (most recent call last):
  File "/usr/local/bin/socli", line 11, in <module>
    load_entry_point('socli==3.6', 'console_scripts', 'socli')()
  File "/usr/local/lib/python2.7/dist-packages/

[2018-03-18 15:32] mohamedotnet commented on #130
It has been fixed in the development repository and it will be ported to the master repo.

[2018-03-25 13:42] navdhaagarwal opened #133 "More interactive and Informative"
We would like to implement a feature with which users can view their answers based on the filters available like -  month, week, hot etc.
The idea is basically to make stack overflow home page browsing more effective.
Also, we would like to extend this, by adding a new feature with the help of which users can post their answers and comments to the questions, via the terminal itself.
As we go on wi

[2018-03-26 15:52] Insiyaa opened #135 "Error on keyboard interrupt"
On using `socli -u`, on pressing Ctrl+C throws error instead of quitting. The same issue is with `socli -a`. We would like to fix this.:)
Team codeVamps
RGSoc 2018

[2018-03-26 16:22] nupurgunwant commented on #135
``socli -u`` is working perfectly well. Can you elaborate what kind of error you are facing?

[2018-03-26 16:25] Insiyaa commented on #135
When default user is not set and it prompts to enter stack user ID, it throws error on keyboard interrupt. I guess it should simply exit...

[2018-03-26 16:33] nupurgunwant commented on #135
It throws an error because whatever is typed is taken as character. "^C" is however a keyboard interrupt. If you want to exit, you can simply press enter.

[2018-03-26 16:41] Insiyaa commented on #135
Yes but it should allow exiting with ctrl+c as it is commonly used to kill tasks...

[2018-03-27 22:55] hiteshkumardasika commented on #126
@kalyaniasthana  i suspect it is the issue with python version..did you try to run the command with pip instead of pip3?

[2018-03-28 12:57] LuckyPigeon commented on #130
According to my test, I reinstall socli again in case I was wrong, but when I use socli -u with random guy who didn't ask question in stackoverflow, it crash again. And last time I check, it seems to be pyExchange module have some condition didn't exclude so that this socli -u got failed.

[2018-03-29 05:10] kalyaniasthana commented on #126
Not a python version problem. I installed it again with pip3. It's working now.

[2018-03-29 05:10] #126 closed

[2018-03-29 19:05] gautamkrishnar commented on #126
@kalyaniasthana really happy to know that it finally worked.. 👍

[2018-03-29 19:08] gautamkrishnar commented on #126
@kallepallimounikasmitha @hiteshkumardasika thanks for helping her out.

[2018-04-06 11:26] shubhangibharti opened #136 "Unable to run on windows"
"No answer" on querying on windows.

[2018-04-06 15:16] immonika opened #137 "Accepted answers should be preferred over voted answers"
Accepted answers should be given more preference than voted answers because the person who raised the queries the best judge to evaluate the answer and he has implemented the solution.

[2018-04-06 16:29] manish7294 commented on #136
@shubhangibharti  Can you please give the log of error, you are facing? Maybe you can have a look at #6, your issue might be concerned with it.

[2018-04-07 07:25] shubhangibharti opened #138 "Related and linked can also be shown when querying with interactive argument"
I would like to add this enhancement of showing related and linked as well when querying with interactive argument. This is a much a needed addition as a lot of times we find solutions in this section.

[2018-04-07 07:31] #136 closed

[2018-04-07 07:35] shubhangibharti opened #139 "Formatting of code and mathematical equations"
Using latex we can format code and mathematical equations so that it enhances readability.
RGSoC 2018

[2018-04-07 07:38] immonika opened #140 "Toggle to show question/answer comments"
We can make a toggle say `c` for 'comment' which can show the comments of the answer and question, as many times comments resolve the problems.

[2018-05-11 19:16] #121 closed

[2018-05-11 20:31] #120 closed

[2018-07-06 08:02] mindgitrwx opened #143 "install error 'cp949' codec can't decode byte 0xe2 in position 16534: illegal multibyte sequence"
Windows 10, `easy_install socli` make this errorkk

install error  'cp949' codec can't decode byte 0xe2 in position 16534: illegal multibyte sequence

Detailed error logs are like this.
Python version is 3.6.5
Even makes error

[code]

pip install socli also makes error. error logs are like this.

[code]

[2018-07-06 22:22] robgoyal commented on #140
Is this a feature that anyone wants? I'm interested in implementing this!

[2018-07-22 17:25] bera5186 opened #144 "No information when does not find a good question match"
if does not get a good match then there should be a message or something that " not found or something....."

[2018-08-04 08:55] gautamkrishnar commented on #1
![ddg](https://user-images.githubusercontent.com/8397274/43674474-23811f90-97f2-11e8-857f-94618ebb4fc9.jpg)

[2018-08-13 01:35] shydefoo commented on #144
Hi is anyone working on this? Id like to take it up if no one is (:

[2018-08-16 16:02] such-doge commented on #143
I know this is a month late, but the issue is an extended-ASCII "right single quotation mark" in README.rst, which makes it incompatible with any code page that can't interpret it. This is an issue for Windows installed with a language that uses non-Latin characters. Since Windows uses the default code page for the system locale/language in the command prompt rather than UTF-8, you will need to ch

[2018-09-11 20:54] ryanmcvicker12 commented on #144
i will take a look at it :)

[2018-09-17 11:26] jorden789 opened #145 "Unable to view answer section when question has long length"
Using a VGA Monitor (untried on other resolutions), I am unable to view answer sections when accessing questions returned by following example command:

`socli -iq python while loop`

Possible to add in addition for collapse of question section when viewing individual pages or page up/down feature?

[2018-10-23 12:33] Sando1 commented on #137
hi, i'd like to work on this.

[2018-10-23 12:55] gautamkrishnar commented on #137
@Sando1 as of now some of the merging process i going on in the project. Will let you know once you are ready to go. Thanks a lot for your interest in contributing.

[2018-10-23 13:08] Sando1 commented on #137
Sure

[2018-11-23 08:43] smgd commented on #139
You mean you want an output in pdf or what? You can use latex equations in input, matplotlib can do that.

[2018-11-27 21:02] CarlosEvo opened #148 "Strange installation location"
I really like the idea of the project! But when I tried to install `socli` with `pip3`, it gave me the following error:

[code]

I know I can work around this with `sudo` or install it to user, but `/usr/local/` is not under my `path`, and many other python packages install their executables in `/usr/local/bin`. I am not sure if this is a deliberate design intention.

[2018-11-28 05:53] virajvchavan commented on #119
For better readability, any code should be highlighted. Better yet, syntax highlighting for the code will be really useful.

[2018-12-23 17:03] aashutoshrathi commented on #111
Hey, @gautamkrishnar I would like to help in maintaining this.
I will go through the codebase in 2 days, I think. Also will send some PRs.

[2018-12-23 17:19] gautamkrishnar commented on #111
@aashutoshrathi Cool! 😄Really happy to have you here. This requires some serious merging of PRs and testing the code. Granted you push access to the repo. https://github.com/gautamkrishnar/socli/invitations

Please make sure that you work on the develop branch while merging PRs.

[2018-12-23 17:30] aashutoshrathi commented on #111
I'll go through the code base and start checking PRs. Thanks
As of now, I think it is not responding to queries.

[2018-12-23 17:47] gautamkrishnar commented on #111
@aashutoshrathi yes it has been a long time since it is updated. Have you tried installing the latest version from Pypi:
[code]

[2018-12-23 17:50] gautamkrishnar commented on #111
Looks like it is not working as well...

[2018-12-23 17:56] aashutoshrathi commented on #111
Yes.

[2019-01-01 03:44] Saamuuu commented on #111
Hello @gautamkrishnar, I'm also interested in maintaining the repo as well. I'll be sure to test out the software to see if its working. Then check out the issues in the repo and/or address pull requests.

[2019-01-17 06:06] akaashhazarika commented on #137
I would like to work on this. Is the merging complete

[2019-04-19 07:09] gautamkrishnar opened #149 "Revamp SOCLI"
As of now this project needs some serious refactoring... There are several pending PRs in this repo that needs to be merged... Also we need to merge several changes from master to develop since most of the previous PRs are merged to the master.

[2019-05-06 04:57] shivamriky commented on #149
What kind of help do you need on this project?
I found the idea really interesting and would love to spend time if you can provide some guidance.

[2019-05-06 06:23] gautamkrishnar commented on #149
Hi @shivamriky please fork the project and work on https://github.com/gautamkrishnar/socli/tree/refactoring (refractoring) branch. I had already merged all prs to that branch... It contains the latest code but it is not functional. Please have a look.

[2019-05-06 20:55] shivamriky commented on #149
Great! I will have a look :)

[2019-05-16 08:58] l1n3n01z opened #150 "No output from socli"
I tried installing socli on OS X, Windows and WSL (bash on windows). I don't get any output at all, except on Windows where I get a line informing me of the current code page.

Windows and WSL are python 3, OS X is python 2.

I specifically tried the example in the help file. I also tried using the -s flag with a few words that gave results on stackoverflowin the browser. When I used a nonsensical

[2019-05-17 06:32] gautamkrishnar commented on #150
@l1n3n01z yes socli is not functioning well as of now. We are revamping it (#149).

[2019-05-17 07:02] l1n3n01z commented on #150
@gautamkrishnar Regardless of current development, shouldn't there be a "pinned" version when using pip for installation that should work?

[2019-05-17 07:20] gautamkrishnar commented on #150
Yes @l1n3n01z The previous version was working fine... I am not sure what happened its not working now. There are several bug reports on it... Currently i don't have time to look into it...

[2019-05-17 08:12] l1n3n01z commented on #150
Stackoverflow has changed their output. I fixed some parsing. I suspect more parsing changes might be needed, but at least I get output now. I created a pull request, hopefully according to procedure. https://github.com/gautamkrishnar/socli/pull/151

[2019-05-18 15:43] gautamkrishnar commented on #150
@l1n3n01z new version has been released can you please test it and let me know

[2019-05-19 06:49] gautamkrishnar opened #152 "install not working in python 3.7"
python setup.py install gives the following error:

[code]
Travis: https://travis-ci.org/gautamkrishnar/socli/builds/534361695
Ref: https://github.com/pypa/setuptools/issues/1257

[2019-05-19 06:56] gautamkrishnar commented on #152
@benoit-pierre any idea why this is not working even if i have upgrade command in travis.yml

[2019-05-19 17:35] l1n3n01z commented on #150
Seems to work as expected on OSX. Windows as well. WSL seems to not work in interactive mode, but I do get output on a simple lookup.

[2019-05-23 05:57] #148 closed

[2019-06-06 22:20] hangtwenty opened #154 "What are the keyboard shortcuts for scrolling, in interactive mode?"
What are the keyboard shortcuts for scrolling, in interactive mode?

[2019-06-06 22:23] hangtwenty commented on #154
maybe just doesn't work with my terminal

[2019-06-06 22:23] #154 closed

[2019-06-23 07:41] gautamkrishnar commented on #1
![1_cVSuP2oEOg1Zkp84zQN1rQ](https://user-images.githubusercontent.com/8397274/59973123-728ee800-95b8-11e9-90b3-78c6e4003120.jpeg)

[2019-06-24 16:47] dheepakg commented on #150
As this is working, can we close this issue?

[2019-06-25 09:29] #150 closed

[2019-06-25 09:54] gautamkrishnar commented on #150
Thanks 👍

[2019-07-01 11:54] rsharafkandi commented on #152
I did:
$ python --version
Python 3.7.3
$ python setup.py install
running install
running bdist_egg
running egg_info
writing socli.egg-info/PKG-INFO
writing dependency_links to socli.egg-info/dependency_links.txt
writing entry points to socli.egg-info/entry_points.txt
writing requirements to socli.egg-info/requires.txt
writing top-level names to socli.egg-info/top_level.txt
reading manifest file 's

[2019-07-17 08:49] lokesh1729 commented on #149
@gautamkrishnar any update on this ??? do you need my help???

[2019-07-26 15:38] thevirtuoso1973 commented on #149
I had a look at your code and ran the tests on refactoring branch. Test 6 failed so I was looking through the implementation of search.py and was confused to the purpose of line 20.
https://github.com/gautamkrishnar/socli/blob/e1a81d2772c7b7c5498b02a826db218b81113755/socli/search.py#L20
Why not just use so_qurl as the default link to query since 'https://stackoverflow.com/?tab=python' (for example

[2019-07-26 16:24] gautamkrishnar commented on #149
@thevirtuoso1973 Thanks for taking it up. Regarding br flag, it was introduced in https://github.com/gautamkrishnar/socli/pull/99/files

It was meant to be used as a flag for the argument -b that was used to implement browse feature. Please see https://github.com/gautamkrishnar/socli/issues/25

Now it has gone stale, Please remove that condition checks if its no longer needed.

@lokesh1729 really

[2019-08-02 17:56] cll0ud opened #157 "Queries using Google Search sometimes returns questions from different subdomains"
I tried searching for "foreach javascript" and I got an answer from pt.stackoverflow.com instead of the international site. I'm guessing that's unexpected behavior as pt.stackoverflow.com is a different stack exchange site with it's own user ids and stuff.

Using -iq returns both sites mixed in the options. With -s it works as expected and returns only questions from stackoverflow.com.

[2019-08-03 05:15] anirudnits commented on #157
Hi, I am currently looking at this issue.

[2019-08-03 07:04] gautamkrishnar commented on #157
@anirudnits thanks 👍

[2019-08-03 07:10] gautamkrishnar commented on #157
@anirudnits Tip:  changing this https://github.com/gautamkrishnar/socli/blob/refactoring/socli/search.py#L24 to www will solve this issue:
[code]
to

[code]

Please test it out and let me know. Open a pr if everything works fine.

[2019-08-03 08:28] anirudnits commented on #157
Will do and Thanks

[2019-08-03 09:47] anirudnits commented on #157
@gautamkrishnar I changed the google_search_url in search.py file as you said and now it seems to work just fine. Going to open a PR now.

[2019-08-03 11:12] gautamkrishnar commented on #157
Fixed in #158. Thanks a lot for reporting @cll0ud

[2019-08-03 11:12] #157 closed

[2019-08-03 13:04] cll0ud commented on #157
That was fast! Thank you guys :)

[2019-08-03 13:27] gautamkrishnar opened #159 "not working in python 2.7"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2410%20Funded-%2300A156.svg" />](https://issuehunt.io/r/gautamkrishnar/socli/issues/159)

While running https://github.com/gautamkrishnar/socli/tree/refactoring
I am getting the following error:
[code]

This is related to python's module import difference between two versions.
https://stackoverflow.com/questions/30249119/dif

[2019-08-03 13:41] gautamkrishnar commented on #157
A new release has been deployed with this fix

[2019-08-03 14:31] anirudnits commented on #159
Looking into it!

[2019-08-03 15:23] gautamkrishnar commented on #159
We must make sure that it works on both 2x an 3x

[2019-08-03 17:06] anirudnits commented on #159
while recreating the error, I got this
**ModuleNotFoundError: No module named 'socli.tui'; 'socli' is not a package**
is there something that I am missing?

[2019-08-03 17:39] anirudnits commented on #159
Sorry, I am able to create the same error in python2 but when the try the same thing in python3 I am getting the above error. Can you please verify if you are getting the same in python3?

[2019-08-04 04:56] gautamkrishnar commented on #159
Working fine for me on python 3.7

[2019-08-04 17:31] anirudnits commented on #159
I went through the files, changing
`import socli.tui`
to
`import tui`
should make it right.
From what I understand, the first import statement looks for to import _tui_(maybe a function, variable or class) from _socli.py_ file. The second import statement imports all the classes from _tui.py_ file in the same directory.I guess that's what we are looking to do, please correct me if I'm wrong.

[2019-08-04 18:19] anirudnits commented on #144
anyone working on this currently?

[2019-08-05 12:10] gautamkrishnar commented on #159
@agarwalnishtha dont use socli.tui. I need imports as python 3 standard. You can learn more about it here: https://stackoverflow.com/questions/12172791/changes-in-import-statement-python3

We must implement it using https://www.python.org/dev/peps/pep-0328/

[2019-08-06 05:16] anirudnits commented on #159
By using `sys.path.append(".")` should do the trick for both the versions.

    The directory containing the input script (or the current directory when no file is specified).
    PYTHONPATH (a list of directory names, with the same syntax as the shell variable PATH).
    The installation-dependent default.

from **https://chrisyeh96.github.io/2017/08/08/definitive-guide-python-imports.html#basics

[2019-08-09 10:33] anirudnits commented on #159
Tested it and it works for both the version 2 and 3+. Submitting the PR for the same. Do review it and let me know if there is anything wrong. Thanks

[2019-08-10 07:32] anirudnits commented on #159
Tested it and it works fine. Submitted the PR for the same. Let me know if there is anything wrong. Thanks!

[2019-08-12 09:30] gautamkrishnar commented on #159
closing this one for now

[2019-08-12 09:30] #159 closed

[2019-08-28 09:01] GregPK opened #163 "No results found... - for any query"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2410%20Funded-%2300A156.svg" />](https://issuehunt.io/r/gautamkrishnar/socli/issues/163)

Tried a bunch of queries but even the reference one does not seem to work:

[code]

Using `socli-3.9` installed via pip.

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Backers (Total: $10.00)

- [<img src='https://av

[2019-09-03 14:17] isaac-philip commented on #149
is this closed ?

[2019-09-03 14:58] isaac-philip commented on #163
Is this open ?

[2019-09-03 16:17] gautamkrishnar commented on #163
@isaac-philip can you please look into it and verify whether the issue exists. If it is please comment on this issue. you can start working on it if you are interested.

[2019-09-05 08:44] isaac-philip commented on #163
Yes seems to be, I am also not getting any response for same set of inputs mentioned in issue.
I will take this up, thanks!

[2019-09-05 10:06] gautamkrishnar commented on #163
@isaac-philip please make sure that you use https://github.com/gautamkrishnar/socli/tree/refactoring branch

[2019-09-05 19:27] isaac-philip commented on #163
noted

[2019-09-08 10:18] isaac-philip commented on #163
getting error in having same module name - socli under package - socli
clashing imports ?

Bunch of errors I could get in Python-3.6  are,

[code]

Other similar errors depending on which package i would try to import or run.

would like to move the entire contents of socli into `__main__` and no issues would be there.
Then can just delete that module - socli.py

Let me know if thats ok and I am b

[2019-09-08 10:58] gautamkrishnar commented on #163
@isaac-philip dont use python sheel use python interpreter.
you can run socli by the following command if you are in the project folder:
[code]
You can also try in in the shell by appending the path manually. Please see #162 by @anirudnits

[2019-09-08 11:13] isaac-philip commented on #163
Ok sure, yes i didn't wanna add path manually.

I can execute locally as you said and will go ahead without any path appending.

[2019-09-14 11:30] isaac-philip commented on #163
just to give an update, working on it, should expect a commit by tomorrow.

[2019-09-14 12:15] gautamkrishnar commented on #163
@isaac-philip thanks a lot 👍 please dont forget to submit it on issuehunt https://issuehunt.io/r/gautamkrishnar/socli/issues/163

[2019-09-14 12:17] gautamkrishnar commented on #159
Hi @anirudnits thanks for the PR, Here's your reward.

[2019-09-14 15:36] anirudnits commented on #159
@gautamkrishnar  thanks  :)

[2019-09-16 00:03] isaac-philip commented on #163
Hey @gautamkrishnar , please checkout and run my committed code.

I have commiteed for direction since the results are random.

What happens is that after a fresh hit to the api, after few hits the result received is not as per our expectation.

Two searches are tuned to the expected html (in the commit - _html_result_expected.html_)

1. the number of question/answers - i.e. div: class_=g
2. the q

[2019-09-18 09:04] isaac-philip commented on #163
Hello @gautamkrishnar, just messaging to know if you had a look, no worries can wait.

[2019-09-30 11:57] langenhagen commented on #163
I am also unable to retrieve results via socli in most cases.
I installed `socli` via `pipsi` the pip script installer.
Notably, `socli` seems to work when I set the flag `-s`.

My command line history is:
[code]

[2019-10-10 21:14] jfariasf commented on #137
Is this issue still unfixed? I'd like to a look...

[2019-10-12 17:04] Roymprog commented on #152
Is this still a bug?
I tried to reproduce this using a fresh Python 3.7.x virtual environment created using Anaconda on my Ubuntu 18.04 x86_64.

[2019-10-16 18:35] donaldtn commented on #152
I couldn't reproduce this issue on a new Ubuntu 18.04 droplet.

[2019-10-22 17:53] charliergi commented on #163
Same results here, I can give a try to fix this issue if it's not solved yet. I've tried to install socli with pip, with the master branch and the refactoring branch, and they have all the same results.

[2019-11-27 06:25] timsmaluk commented on #163
Look like I've identified the problem. After some debugging the problem lies in this part:
[code]
Specifically here:
[code]
Becuase `class_="g"` does not exit. None of the `class_=` tags exist. So the code executes the `print_warning` message and then exits.

I'm not sure if theres any easy fix other than rewriting this function and the other scraping functions. Also, it would be nice if there wer

[2019-11-27 19:56] timsmaluk commented on #163
Update: I am now getting an output for the commands with -q
![Screen Shot 2019-11-27 at 11 46 40 AM](https://user-images.githubusercontent.com/41490117/69755209-95e03500-110c-11ea-926c-ba48b88f116a.jpg)
![Screen Shot 2019-11-27 at 11 53 27 AM](https://user-images.githubusercontent.com/41490117/69755215-98db2580-110c-11ea-8638-afc2b3ba7221.jpg)

A couple things to fix here. First the statistics are

[2019-11-29 08:36] timsmaluk opened #170 "Rotating IP Addresses and Proxies / Fixing Inconsistent Google Search"
The biggest flaw in this program is that the Google searches are inconsistent. Rotating just the headers is pointless if there is no IP rotation. Now I am willing to buy some private proxies in order to fix the "inconsistent google search" issue, however, I'm not going to do it if this community is inactive.

[2019-12-05 05:17] darrencl commented on #152
Agreed with the others, couldn't reproduce this on Ubuntu 18.04 with Python 3.7.3

More info:
[code]

[2019-12-05 11:18] anirudnits commented on #163
I would like to work on the writing some unittests. I didn't see any new issue for this, so is it still open?

[2019-12-16 10:53] anirudnits opened #173 "I would like to work on writing some unittests. I didn't see any new issue for this, so is it still open?"
I would like to work on the writing some unittests. I didn't see any new issue for this, so is it still open?

_Originally posted by @anirudnits in https://github.com/gautamkrishnar/socli/issues/163#issuecomment-562086885_

[2019-12-16 10:54] #173 closed

[2019-12-29 13:07] gautamkrishnar commented on #1
![motrix-extension](https://user-images.githubusercontent.com/8397274/71557256-bed84a80-2a69-11ea-98d9-f2f20d2a0065.gif)

[2020-01-04 13:46] schedutron commented on #163
If it's halted, can I work on rectifying this issue?

[2020-01-04 19:08] timsmaluk commented on #163
It seems like the owner of this project no longer works on it. That being said it seems pointless to even try to fix it. There is a lot that needs to be done.

[2020-01-05 08:00] gautamkrishnar commented on #163
@timsmaluk yes you are right..I am not getting time for this project due to my work related stuffs. I am looking for a maintainer who's interested in revamping the project.  @schedutron please let me know if you are interested.

[2020-01-06 20:58] timsmaluk commented on #163
@gautamkrishnar I would be interested in becoming a maintainer. I've spent a good couple weeks on this project trying to understand the code, and I can offer some help in fixing it up to production ready code. I got it to work in my debugging environment, but the only problem was the user agents. It had about an 80% chance of working even with the new agents I implemented

[2020-01-08 12:45] gautamkrishnar commented on #163
Hi @timsmaluk really happy to know that you're interested.  Just added you as a collaborator. Please accept the invitation by clicking on the link: https://github.com/gautamkrishnar/socli/invitations

Please note that the current development is done on the branch  https://github.com/gautamkrishnar/socli/tree/refactoring

Feel free to continue it. Please note that there are some pending pull reques

[2020-01-10 07:20] gautamkrishnar commented on #1
![jetbrains](https://user-images.githubusercontent.com/8397274/72133518-a6d8c300-33a7-11ea-8979-659b248ca1a2.png)

[2020-01-15 03:10] tranchikhang commented on #163
May I ask if this issue is still open?
I looked into the source code. Looks like depend on the User agent, the response HTML structure will be different.
For example, if I set User agent as (from PR: [#166](https://github.com/gautamkrishnar/socli/pull/166/commits/1e95e591a542dffc642143245246f59e6c300c91)):
`Opera/9.80 (X11; Linux x86_64; U; en-GB) Presto/2.2.15 Version/10.01`
Then the result would

[2020-01-15 07:05] gautamkrishnar commented on #163
Thanks for finding this @tranchikhang can you open a PR so that @timsmaluk can look into it

[2020-01-15 13:10] tranchikhang commented on #163
So I updated the code, but haven't opened a PR yet. I managed to get the data, but couldn't display the result:
![fix](https://user-images.githubusercontent.com/16659747/72435136-beb5aa00-37e0-11ea-998c-cd23233d3ed2.png)
I cannot go past this line, any ideas?
[code]

[2020-01-15 19:12] timsmaluk commented on #163
@tranchikhang  I'm not sure what the error is since I don't have that line in my code. I had it working at one point in the debugger but I cant replicate that now. Once I figure out what wrong in my own code I can offer more help.

[2020-01-15 23:27] tranchikhang commented on #163
@timsmaluk
It's from here.
https://github.com/gautamkrishnar/socli/blob/141ead78b6b409981940dc15b39a1d4f4ec74636/socli/printer.py#L216
Turn out it's just a small typo, should be:
[code]
But then I got:
[code]
probably because [urwind cannot run on Windows](https://stackoverflow.com/questions/54357073/nameerror-name-fcntl-is-not-defined-when-using-urwid-on-windows)? I will try to check with a Linux

[2020-01-15 23:32] timsmaluk commented on #163
@tranchikhang we should compare our code

[2020-01-16 01:49] tranchikhang commented on #163
@timsmaluk I opened PR #174, no problem so far but I'm still new to this project so may be it needs more testing. Also I have to use WSL since urwind cannot run on Windows. Probably we should open another issue for Windows compatibility?

[2020-01-29 19:30] sanilborkar commented on #163
So I was looking into this issue. Apparently, it seems like the ```div``` tags in the Google result webpage are rendered using JavaScript. ```requests``` package cannot deal with JavaScript rendering but its sibling ```requests_html``` can.

I tried my hands on working with that but it seems like a temporary solution, and have raised a **PR #175** [Issue #163 - Fixed Google Search not returning re

[2020-02-05 03:39] timsmaluk commented on #163
Okay after some time off, I am back to work on this project full time. I just got a job so I wont be avialable during the day, but I plan to put in good hours after work and no the weekend. I plan to check over all the PR's and get this project working again. Thank you for being patient

[2020-02-05 06:18] tranchikhang commented on #163
I took a look at @sanilborkar PR #175 . I don't think the problem is JavaScript rendering. Because:
- ```request``` can fetch HTML rendered from JS fine, you can see after fetching HTML, the logic is the same: looking for ```div``` with ```class="g"```
- I also check the requests-html package, inside it has ```import requests```, and the constructor is just calling back to ```requests.Session```.

[2020-03-13 13:18] tranchikhang commented on #163
@timsmaluk Any update on this issue?

[2020-03-14 03:01] mitchins commented on #163
Still not working for me Python 3.7.3 on OSX

[2020-03-28 13:45] gautamkrishnar commented on #1
<img width="1440" alt="Screenshot 2020-03-28 at 7 06 31 PM" src="https://user-images.githubusercontent.com/8397274/77824280-865b1200-7127-11ea-85e7-0241346d2f4b.png">

[2020-05-11 00:46] manishbhatt commented on #163
Any update? it's still not working

[2020-05-30 10:11] hedythedev commented on #163
Hi, any progress on this? It shows no results found for any query for me. I'm on Ubuntu with Python 3.6.9, using `python3 -m socli for loop in python` shows no result as well.

Installed with `sudo pip3 install socli`

[2020-06-03 23:43] hedythedev commented on #163
Hi @tranchikhang and everyone, I see that this issue has not been resolved, so maybe we can set `google_search` to false, so at least the example in the README, `socli for loop in python syntax` works?

[2020-06-04 13:43] tranchikhang commented on #163
@hedythedev
As I said above, I opened PR #174, I just checked again today, seems to be no problem except it cannot run on Windows.
But it has been 5 months and no response, and it looks like no one is working on this project anymore, so I was planning to maintain a version using this PR onward in my repo. I'm a bit busy with work so the plan was delayed, I will try to start working on it this week

[2020-06-04 17:43] gautamkrishnar commented on #163
@hedythedev sorry for the delayed response I am unable to maintain this project due to my work. If you are interested, I can add you as a maintainer so that you can merge that pr yourself. Please let me know if you are interested.

[2020-06-04 17:48] gautamkrishnar commented on #163
Looks like most of the issues are caused due to some recent changes in stackoverflow and google html structure.

[2020-06-06 12:08] hedythedev commented on #163
@gautamkrishnar

Sure! I would love to become a maintainer. I will take some time to look at the PRs now 😀

[2020-06-06 12:10] gautamkrishnar commented on #163
@hedythedev Thanks a lot. Just added you https://github.com/gautamkrishnar/socli/invitations

[2020-06-07 00:03] hedythedev commented on #163
@gautamkrishnar

I have taken a look at all 4 PRs regarding this issue, and I think #174 from @tranchikhang works fine except that:

1. Some characters aren't showing properly when passed `-iq` on WSL (see the comment from tranchikhang above)

2. When used normally like this `socli for loop in Python syntax`, it showed `could not load statistics` in the question section for some reason?

Also I ha

[2020-06-07 09:29] gautamkrishnar commented on #163
@hedythedev you can ignore support for wsl for now. Maybe we open an issue with proper info so that someone can fix it once we release a stable version.

[2020-06-07 11:19] hedythedev commented on #163
Just merged it. I'm not quite sure about the workflow of how the refactoring branch can be merged to master and then released on PyPI, but I guess it is at least solved for non-windows environments.

[2020-06-07 13:06] gautamkrishnar commented on #163
@hedythedev can you please test the latest code on the master. I just merged the refactoring branch with the master. Some tests are failing for python 2: https://travis-ci.org/github/gautamkrishnar/socli/builds/695657072

We need to investigate that. If it's not fixable we may need to remove python 2 from the list of the supported versions.

You can always create a new release to PyPI by creating

[2020-06-07 13:21] gautamkrishnar commented on #163
@hedythedev removing support for 2.7 would be better since it is reaching its EOL soon. I will update the code to make sure that the project uses python 3+.

[2020-06-07 13:37] gautamkrishnar commented on #152
This issue is fixed now

[2020-06-07 13:37] #152 closed

[2020-06-07 13:45] gautamkrishnar opened #177 "Release 4.0"
Release 4.0 Discussion

### Breaking changes
- Drop support for python 2
- At least python 3.5+ is required due to dependency with Colorama library (Colorma doesn't work for python <3.5, see: https://travis-ci.org/github/gautamkrishnar/socli/jobs/695663869)

### Bugs
- Question stats not working

CC: @hedythedev @timsmaluk

[2020-06-07 14:18] #149 closed

[2020-06-07 14:55] gautamkrishnar commented on #163
This issue is fixed. Will be released on version 4.0

[2020-06-07 14:55] #163 closed

[2020-06-07 15:28] gautamkrishnar opened #178 "Use pystackexchange API to fetch question and answers"
Use https://github.com/lucjon/Py-StackExchange to fetch the question and answer details instead of crawling StackOverflow. It will reduce future errors.

Example: https://github.com/lucjon/Py-StackExchange/blob/master/demo/question.py

@tranchikhang if you are free please have a look into this.

[2020-06-07 15:42] gautamkrishnar opened #179 "Question stats not working"
Question voting stats not working

[2020-06-07 15:45] gautamkrishnar commented on #177
Released https://pypi.org/project/socli/4.0/

[2020-06-07 15:45] #177 closed

[2020-06-07 23:42] hedythedev commented on #177
We should update the [requirements section of the README](https://github.com/gautamkrishnar/socli#requirements) to `python 3.5 or higher`

[2020-06-08 00:13] hedythedev commented on #163
Got it thank you. Sorry for the late response because I think our time zones are different. I have commented on #177 that

[2020-06-09 21:51] therajdeepbiswas commented on #179
Would like to contribute. More details please?

[2020-06-09 23:45] hedythedev commented on #179
![Screen shot from @tranchikhang in pr #174 ](https://user-images.githubusercontent.com/16659747/72485946-bc893500-384c-11ea-9090-a652ba905598.PNG)

It shows ‘could not load statistics’ when a question and answer is displayed. To my knowledge, what it should show is the voting stats, and the date that the question is created.

I think, you can have a look into [L110 to 146 of search.py](https://gi

[2020-06-10 01:47] hedythedev commented on #179
Hi @gautamkrishnar I have just taken a look at the stack overflow site source, and I think they changed their class names and HTML structure like the case for issue #163
So, because there was no `div` with class name `module question-stats`, the logic in `search.py` on line won’t find anything, which causes an index error exception, leading to a message `could not load statistics` being shown.
I t

[2020-06-10 06:42] therajdeepbiswas commented on #179
Hey @hedythedev, the HTML structure has indeed changed, we do not get the questions-stats as conveniently anymore as it was being done before. Although I managed to get the functionality back as shown in the screenshot below.

![image](https://user-images.githubusercontent.com/32306614/84235221-1a2b6000-ab13-11ea-8270-8ea0bdd5d20d.png)

But I am a bit apprehensive about the way I'm having to fetch

[2020-06-10 07:12] gautamkrishnar commented on #179
@therajdeepbiswas @hedythedev thanks a lot for digging into this 😄

[2020-06-10 07:15] #179 closed

[2020-06-12 21:18] therajdeepbiswas commented on #178
Looking into this

[2020-06-12 23:47] hedythedev commented on #178
@gautamkrishnar the `use-stackexchange` branch is a few commits behind master, and I think we should update it

[2020-06-12 23:56] hedythedev commented on #178
Done! The branch is up to date now :smile:

[2020-06-13 09:16] gautamkrishnar commented on #178
Thanks @hedythedev, sorry for the late reply. It's not needed anymore. You can delete that branch.

[2020-06-13 09:19] gautamkrishnar commented on #178
@therajdeepbiswas  please use the master branch while you are working on this. Pass question id received from google search. You can get question id from the URL.

[2020-06-13 11:21] hedythedev commented on #178
Will do, thanks!

[2020-06-13 11:28] therajdeepbiswas commented on #178
@gautamkrishnar I found out the pystackexchange has its own search() functionality, do we still need to be using the google search using 'stackoverflow' site parameters, or should I try to remove the requirement of google searching as well?

[2020-06-13 11:34] gautamkrishnar commented on #178
@therajdeepbiswas google search is required for better search results. Stackoverflow search is not at all mature like google search.

You can try implementing search() for the StackOverflow search flag.
<img width="935" alt="Screenshot 2020-06-13 at 5 03 25 PM" src="https://user-images.githubusercontent.com/8397274/84567672-d301d100-ad97-11ea-84fb-467794faf286.png">

[2020-06-13 11:36] therajdeepbiswas commented on #178
@gautamkrishnar okay, I will only be changing the Q/A functionality as you asked initially.

[2020-06-13 11:48] gautamkrishnar commented on #130
@LuckyPigeon its now fixed please use the latest version.

[2020-06-13 11:48] #130 closed

[2020-06-13 18:16] therajdeepbiswas opened #184 "Issue with code changes moving across fork branches."
I faced this problem working on my fork of this repository. When I would make changes to some file(s) and then switch to a different branch, git will not raise the `error: You have local changes to "X"; cannot switch branches.` error. Instead it will just move to the new branch **and** reflect the changes in that branch as well. Please let me know if this a beginner mistake on my part.

Steps to r

[2020-06-13 20:35] dondon1993 opened #185 "Socli issue in windows terminal"
Hi,

I'm not sure whether this issue has been brought up. I tried using socli in windows terminal. When I typed 'socli -iq html error 404' and made a selection, it just outputs 'Exiting'. I turned on the DEBUG mode and found the error message:
'''
Error name: Name not found globally.

Description: name 'fcntl' is not defined

Traceback (most recent call last):
  File "E:\ANACONDA\lib\site-packages

[2020-06-13 23:41] hedythedev commented on #184
Yes, that happens when you switch branches and have uncommitted work. If you change some files on branch A, then checkout branch B the changes on branch A will still be shown. So if you don't have push access to the branch you are switching to, always commit the changes before switching to another branch. Unless of course if you need the changes to be on the branch you're switching to.

[2020-06-13 23:41] #184 closed

[2020-06-13 23:46] hedythedev commented on #185
Yes there is problems with running socli on Windows. As mentioned in urwid docs, it needs a Unix platform. But I don't think we have a solution yet

[2020-06-14 13:10] #178 closed

[2020-06-14 13:11] gautamkrishnar commented on #178
Dropping this due to API Limitations. Please have a look at https://github.com/gautamkrishnar/socli/pull/183#issuecomment-643658065

[2020-06-14 14:27] therajdeepbiswas commented on #178
Assign me in anything that comes up @gautamkrishnar, if need be!

[2020-06-15 03:16] dondon1993 commented on #185
What about switching the rendering in command line console to a library which supports both windows and Unix platform?

[2020-06-15 04:38] hedythedev commented on #185
Yes we could try replacing `urwid` with something like [python prompt toolkit](https://github.com/prompt-toolkit/python-prompt-toolkit) or [curtsies](https://github.com/bpython/curtsies), @gautamkrishnar what do you think about this?

[2020-06-15 05:55] gautamkrishnar commented on #185
@hedythedev socli interactive mode doesn't support windows cmd. As of now urwid works as intended on all other platforms. This error is happening due to the recent refactoring. Using the code available for socli_interactive_windows in the old version https://github.com/gautamkrishnar/socli/blob/master-backup/socli/socli.py#L620 will fix this issue.

[2020-07-01 23:56] #133 closed

[2020-07-02 00:00] #135 closed

[2020-07-02 00:01] #144 closed

[2020-07-02 00:04] hedythedev commented on #143
@mindgitrwx are you still having the issue? Try the newer releases. If so open a new issue with the latest error info, thank you.
By the way the socli interactive mode is currently not working for Windows you can see #185

[2020-07-02 00:04] #143 closed

[2020-07-02 00:09] hedythedev commented on #145
Is the issue still happening with the latest version of socli? If so can you please provide a screenshot and open a new issue with the latest info, thank you

[2020-07-02 00:09] #145 closed

[2020-07-02 00:11] hedythedev commented on #139
Closing in favor of #119

[2020-07-02 00:11] #139 closed

[2020-07-05 17:28] prathampowar2001 opened #191 "Option to load stack overflow url directly"
I use terminal a lot and using googler(jarun/googler) I can get the url of the stack overflow post . It would be good that I could just pass it as a argument to socli and it would open the page

[2020-07-06 11:42] prathampowar2001 commented on #191
I have issued a PR  about the same.

[2020-07-08 15:17] #191 closed

[2020-07-09 15:11] gautamkrishnar opened #195 "Fix [duplicate] question display in interactive mode"
As of now for the question: https://stackoverflow.com/questions/3476732/how-to-loop-backwards-in-python
The intreactive mode displays the following:
command:`socli for loop python`

<img width="1440" alt="Screenshot 2020-07-09 at 8 26 17 PM" src="https://user-images.githubusercontent.com/8397274/87056125-d2d3e480-c222-11ea-9aa3-755fb7128907.png">

### Changes required
1. We should remove the text

[2020-07-09 23:53] hedythedev commented on #195
Not sure if `v` is a suitable option, because it can also mean 'visit website', how about d?

[2020-07-09 23:58] hedythedev commented on #195
Also, I think we can find these kind of questions by the `[duplicate]` title

[2020-07-10 05:40] gautamkrishnar commented on #195
@hedythedev yea, `d` would be better, updated the issue. I think yea we can also find the duplicate by its title. But since we are extracting URL from that div, it's better to rely on that div itself to find the duplicate.

[2020-07-10 07:31] #170 closed

[2020-07-10 07:31] gautamkrishnar commented on #170
@timsmaluk this will not be required anymore since we made the UserAgent limited to some values.

[2020-07-20 16:52] suvhotta commented on #195
@gautamkrishnar @hedythedev  After user presses the "d" key, should the duplicate question be re-routed to a browser tab or should it be displayed in the CLI ?

[2020-07-20 16:53] gautamkrishnar commented on #195
Nope it should open in the socli itself

[2020-07-20 17:19] suvhotta commented on #195
Ok Can I work on this one? Or is it taken?

[2020-07-22 12:01] subhaprakash commented on #25
Yes it looks great idea. I am happy with that. SOCLI  is the webpage need to be implemented  to make it easy for everyone

[2020-07-22 12:12] subhaprakash commented on #122
ok.

[2020-07-24 10:23] hedythedev commented on #119
We could use [pygments](https://github.com/pygments/pygments) 👍🏻

[2020-08-04 08:00] #195 closed

[2020-08-22 08:39] gautamkrishnar opened #201 "socli -iq is broken"
`socli -iq` is not working as expected, question selection after the listing is broken.

[2020-08-26 11:51] andrefpoliveira commented on #137
Hey :) I would like to pick this one up. Is anyone working on this?

[2020-08-26 18:45] ankushduacodes commented on #140
@hedythedev @gautamkrishnar Should I pick this Issue up or do you want me to wait a little longer?

[2020-08-27 04:51] gautamkrishnar commented on #140
@ankushduacodes yes you can take this up.

[2020-08-29 11:18] mrbasel opened #202 "Search not working"
When I use `socli for loop in python syntax` or any other keywords I get 'No results found...'

[2020-08-29 11:41] hedythedev commented on #202
This might be because of the web scraping and HTML changes like #163 again 🤔

[2020-08-29 11:55] hedythedev commented on #202
I have just looked at the Google search result source code and for me it the class isn't `g` anymore, it's `r`, so this won't work:
https://github.com/gautamkrishnar/socli/blob/1242758db1a2075f488a6fb58b1b18f193693bde/socli/search.py#L81

[2020-08-29 12:54] gautamkrishnar commented on #202
Oh! strange, @hedythedev can yu please make the changes on the class name and trigger a release if you are free? I will do that if you are not.

[2020-08-29 12:59] hedythedev commented on #202
Sorry @gautamkrishnar I'm busy right now and Im currently on mobile and had been looking at the source on mobile, so you might want to confirm the class name for you.

[2020-08-29 13:01] gautamkrishnar commented on #202
Okay, @hedythedev I will have a look. thanks for the info.

[2020-08-29 13:27] #202 closed

[2020-08-29 13:27] gautamkrishnar commented on #202
LOL this time it was not google, It was StackOverflow itself.

[2020-08-29 13:32] suvhotta commented on #202
Hi @gautamkrishnar  this might be always the case when we are scraping, so if similarly some tag or anything changes then SoCLI might not perform as expected. So can't we move to an API based thing instead of scraping?
https://api.stackexchange.com/docs

[2020-08-29 13:34] gautamkrishnar commented on #202
@suvhotta Using API has some limitations.  Please check https://github.com/gautamkrishnar/socli/issues/178

[2020-08-29 13:42] suvhotta commented on #178
@gautamkrishnar Gotcha!

[2020-09-02 07:27] ankushduacodes commented on #140
@gautamkrishnar @hedythedev okay so I was looking into how I am going to implement this issue, do you have any suggestion on how I should implement this?
should comments show up below the answer to a question or should I add a command line argument which only fetches comments for the query?
please suggest any other way you may have in your mind

[2020-09-02 07:34] ankushduacodes opened #203 "query search algorithm"
Hi, I was wondering how does query search chooses which question to show for a particular query
for example `socli for loop in python` shows a question that is mostly irrelevant to the question being asked

that's not even the most relevant or voted question when we search for same on the website

please help me understand whats going on?
![Screenshot 2020-09-02 at 1 09 33 PM](https://user-images.

[2020-09-02 08:30] gautamkrishnar commented on #140
@ankushduacodes showing comments under the answer would be better. I don't think that we need to have an extra new argument to show the comments. The comments should show up for all answers under the answer section.  We should make it in a way that the people should aware that it's not the answer, its a comment. @hedythedev any thoughts on this?

[2020-09-02 08:35] ankushduacodes commented on #140
I am having issues setting up socli for development, any solution for error below?
<img width="684" alt="Screenshot 2020-09-02 at 2 03 58 PM" src="https://user-images.githubusercontent.com/61025943/91958671-47a83400-ed25-11ea-808f-0379ebe7a8f8.png">

[2020-09-02 08:35] hedythedev commented on #140
use `python3 -m socli`

[2020-09-02 08:36] ankushduacodes commented on #140
same issue on that one

[2020-09-02 08:37] hedythedev commented on #140
are you on the socli root directory?

[2020-09-02 08:37] ankushduacodes commented on #140
yes

[2020-09-02 08:40] hedythedev commented on #140
ok, remember to install all the requirements

[2020-09-02 08:43] gautamkrishnar commented on #203
@ankushduacodes by default it uses google search. it will take up the first result in google. If you want to use StackOverflow native search use `-s` or `--sosearch` argument. Ie: `socli -s for loop in python`

[2020-09-02 08:43] #203 closed

[2020-09-02 08:44] hedythedev commented on #140
I think if the comments are to show up by default then it might take up too much screen space, that the answer page might have to go on another page, also on the stack overflow page not all comments are shown, so we might need a way to "show all comments" if possible. If our aim is to get the user to read the answers first, then the comments should probably show when the user presses a key like `c

[2020-09-02 08:52] ankushduacodes commented on #140
sure, that sounds like a great idea. what do you think @gautamkrishnar

[2020-09-02 08:52] gautamkrishnar commented on #140
@hedythedev Great idea.,, I agree. Let's add a toggle that allows users to turn on comments if they want. We can have `c` when the user presses it, it will show up the comment.

[2020-09-02 08:55] hedythedev commented on #140
Just to confirm we are showing the comments for the question as well right? Sometimes a comment solves a problem and there are no answers

[2020-09-02 08:59] ankushduacodes commented on #140
that may be confusing to users who wants to know whether the comments are in answer or the question itself
there have to be some toggle or area which shows comments on question separately

[2020-09-02 10:58] CarloCattano opened #204 "Unsupported Locale setting"
Hello there . Wonderful & exciting project .
Im getting this error when trying to use it after installation .

Traceback (most recent call last):
  File "c:\users\freev\appdata\local\programs\python\python38\lib\runpy.py", line 193, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "c:\users\freev\appdata\local\programs\python\python38\lib\runpy.py", line 86, in _run_cod

[2020-09-02 11:05] gautamkrishnar commented on #204
@CarloCattano please try this: https://stackoverflow.com/a/36257050, It is your environment issue, not the issue with socli.

[2020-09-02 11:08] gautamkrishnar commented on #204
@CarloCattano since you are using windows try this https://stackoverflow.com/a/956084/4214976. Sorry for sharing you the Linux way of doing it.

[2020-09-02 11:12] gautamkrishnar commented on #204
@CarloCattano can you please try the same in the powershell instead of cmd?

[2020-09-02 14:31] Stig124 opened #205 "Unable to run tests locally"
I can't run tests locally it prints that error :
[code]
Here is the walkthrough to my error :
`git clone https://github.com/gautamkrishnar/socli.git`
`cd socli`
*did a venv* (doesn't work even out of the venv)
`pip install -r requirements.txt`
`python setup.py test`
And the error is printed
I tried out of a venv, same thing happens

I rapidely googled that issue and it was related to the encoding

[2020-09-03 16:29] ankushduacodes commented on #140
@gautamkrishnar @hedythedev , I had a chance to look into how comments are fetched on SO, and found out that that generally show 4 to 5 comments at most and put other comments under javascript element, which looks something like `show <number> more comment/s`.
now, I don't think requests module can load javascript elements, so I figured out that when we press `show <number> more comment/s`, it loa

[2020-09-06 04:40] ankushduacodes opened #207 "Code base not PEP8 compliant"
Code base does not seem to be pep8 complaint, there are a lot of issues with how the code is formatted, I am going to work on making it pep8 compliant.
for example:
1. https://github.com/gautamkrishnar/socli/blob/master/socli/search.py#L457 this line could be written simply as `if not uas`.
2. https://github.com/gautamkrishnar/socli/blob/master/socli/search.py#L217 ln this line e is never used any

[2020-09-06 08:29] ankushduacodes commented on #140
@gautamkrishnar  @hedythedev  did you had time to go through this?

[2020-09-06 09:07] #207 closed

[2020-09-06 09:19] gautamkrishnar commented on #140
@anirudnits as of now lets show the coments that are rendered default by stackoverflow. I dont recommend adding more network request to the cli unless necesary. The comments rendered by stackoverflow intially wil be the most upvoted comments right, so it wll be okay in the most cases. We can ignore the rest of comments available under show more.

[2020-09-06 09:26] ankushduacodes commented on #140
@gautamkrishnar wrong mention up there lol, but I got it, I will start working on it

[2020-09-06 09:28] gautamkrishnar commented on #140
@ankushduacodes thanks. Yea. I always mess up the mentions between both of your usernames 🤣

[2020-09-06 09:29] ankushduacodes commented on #140
@gautamkrishnar okay so I will add key 'c' toggle to load comments for the answer, but we still have one issue, questions also have comments, what toggle do you want me to assign that will load those?

[2020-09-06 09:31] gautamkrishnar commented on #140
@ankushduacodes lets do this for anwers first then we can get it working for the questions as a seprate PR. We need to finallize how it looks, thats why.

[2020-09-06 09:32] ankushduacodes commented on #140
sure, sounds like a plan.

[2020-09-07 04:14] ankushduacodes commented on #203
This doesn't seem to be true according to the project documentation and seem to be quite the opposite.
<img width="842" alt="Screenshot 2020-09-07 at 9 41 29 AM" src="https://user-images.githubusercontent.com/61025943/92347734-a0dde200-f0ee-11ea-80fb-57973c4e529a.png">

[2020-09-07 06:42] gautamkrishnar commented on #204
We can fix this by not importing urwid on windows.

[2020-09-07 07:05] gautamkrishnar commented on #204
Urwid already have a fix for this implemented https://github.com/urwid/urwid/commit/fd010f8336407ad1a42522b424d2ea7b7800ebc4 @CarloCattano can you please share the output of `pip freeze` command here.

[2020-09-08 07:54] ankushduacodes opened #210 "Undefined behaviour when searching for a query"
(I used the latest release for this)
I ran `socli -q python object to json` in my terminal, and it didn't return anything not even `no result found` warning.
while other queries are working fine.
here is the screen recording:
![ezgif com-gif-maker](https://user-images.githubusercontent.com/61025943/92448366-1e305200-f1d6-11ea-84a2-58d25f99d673.gif)

(PS: I came across this when I was testing it wi

[2020-09-08 08:02] gautamkrishnar commented on #210
@ankushduacodes looks like it is a google issue too: https://www.google.com/search?q=site:www.stackoverflow.com+python+object+to+json
the first url gives 404.

when doing `socli -q python object to json --debug`
[code]
https://stackoverflow.com/questions/38679607/python-iterating-through-large-json-file/44063325 gives us a 404.

[2020-09-08 08:03] gautamkrishnar commented on #210
One solution would be detecting the 404 and using the second link available from google search.

[2020-09-08 08:14] ankushduacodes commented on #210
@gautamkrishnar or may be we can handle 404 seperately and show user a warning

[2020-09-08 08:20] gautamkrishnar commented on #210
@anirudnits no warning would be necessary since this is a google issue. We just need to give users an answer.

[2020-09-08 08:23] ankushduacodes commented on #210
@gautamkrishnar wrong mention but I got it lol

[2020-09-08 08:25] gautamkrishnar commented on #210
@ankushduacodes i am gonna block one of you so that i cant mention 😆 🤣  lol

[2020-09-09 13:40] artorias111 commented on #210
Hey! I'm trying to make my first open-source contribution. Can I take up handling this 404 error and work on it?

[2020-09-09 14:24] gautamkrishnar commented on #210
yes @artorias111 you can work on this. Thanks a lot for your interest.

[2020-09-10 04:57] artorias111 commented on #210
Hey! Should I return a 404 google error to the user or display the next question?

[2020-09-10 05:24] ankushduacodes commented on #210
I think @gautamkrishnar is right in this [comment](https://github.com/gautamkrishnar/socli/issues/210#issuecomment-688704906) we can just show the second or third (as necessary) to the user as mentioned in this [comment](https://github.com/gautamkrishnar/socli/issues/210#issuecomment-688695324)

there could be a condition(although very unlikely but nonetheless possible) in this scenario where all

[2020-09-10 05:45] gautamkrishnar commented on #210
@ankushduacodes thats too unlikely to happen. Lets ignore that edge case for now. If all 10 results are 404 let the cli exit without any message. I dont recommend spending etra effort and code to fix this edge case.

[2020-09-10 09:00] artorias111 commented on #210
Okay, I've fixed it (ran it locally and checked) and made the pull request. This is my first pr though so I'm not 100% sure I did everything right (I did look upon a bunch of git tutorials).
Do let me know if I've made a mistake in the code or in the process. Thanks!

[2020-09-10 12:07] ankushduacodes commented on #140
@gautamkrishnar, is there a reason as to why we don't call printer.display_results() on this [line of search.py](https://github.com/gautamkrishnar/socli/blob/master/socli/search.py#L325) just like in this [line of socli.py](https://github.com/gautamkrishnar/socli/blob/master/socli/socli.py#L109)

[2020-09-10 13:35] ankushduacodes opened #212 "404 not handled while opening url with -o argument"
I tried running `socli -o https://stackoverflow.com/posts/63830605/vote/5 ` while directs to 404 page on stack overflow, and it gives me errors as below:
<img width="682" alt="Screenshot 2020-09-10 at 7 02 07 PM" src="https://user-images.githubusercontent.com/61025943/92736686-20daa500-f398-11ea-9a8b-c80e1fedc9dc.png">

[2020-09-12 09:41] ankushduacodes commented on #140
guys I have submitted a pull request, please let me know what you think of it?

[2020-09-12 09:58] gautamkrishnar commented on #140
@ankushduacodes we both was quite busy this week, will check it out once we have time. Thanks a lot for the contribution.

[2020-09-13 11:52] #210 closed

[2020-09-13 12:12] gautamkrishnar commented on #212
In this case we can display a message like `The URL specified is returning a 404, please check the url and try again!.`

[2020-09-13 13:18] ankushduacodes opened #216 "Toggle to go back to original question when in visiting duplicate url"
There should be a toggle to go back to the original(means first visited url) question when we go to duplicate URL(means when we press d to go to the duplicate URL)

[2020-09-13 13:22] ankushduacodes commented on #140
When I was looking into it yesterday I found that for windows the urwid lib is not used, and unfortunately, I don't have a windows machine to implement the comments toggle, I tried running windows in a virtual machine but it didn't work, could you please start another issue for this so that someone with windows machine is able to implement this

[2020-09-13 13:51] gautamkrishnar commented on #140
@ankushduacodes you can ignore windows implementation since it is not at all interactive.

[2020-09-13 13:57] ankushduacodes commented on #140
@gautamkrishnar i have submitted a new pr, check it out

[2020-09-13 15:19] suvhotta commented on #212
Working on this one.

[2020-09-14 07:58] suvhotta opened #218 "Opening other domain urls with -o flag."
![socli-url](https://user-images.githubusercontent.com/16841978/93058732-64c9f480-f68d-11ea-8a49-248e7d811bb9.gif)

I tried accessing facebook.com using the -o flag. It shows the warning that the url isn't a stack overflow url, yet that still opens up the url in a browser.

I think it would make more sense if the url didn't open in the browser and the program exits after displaying the above menti

[2020-09-14 13:23] gautamkrishnar commented on #218
@suvhotta this is intentional, the code is written is such a way to allow users to browse the page even though they pasted the wrong url. I think we should keep it for better user experience.  It will reduce an additional step for the users.

[2020-09-14 13:23] #218 closed

[2020-09-15 07:10] #212 closed

[2020-09-19 20:21] ankushduacodes commented on #140
@gautamkrishnar , I was wonder if you had reviewed my pull request?

[2020-09-20 10:37] gautamkrishnar commented on #140
@ankushduacodes i was quite busy last week too. Just reviewed it, it LGTM 👍, waiting for review from @hedythedev now.

[2020-09-22 08:55] hedythedev commented on #140
resolved in #215

[2020-09-22 08:55] #140 closed

[2020-09-24 10:13] gautamkrishnar opened #220 "add --version flag"
add `socli --version` and `socli -v` to print out the installed version to the console.

[2020-09-24 13:51] NFuture commented on #220
I am a noob and would like to help you with the issue. I am a participating for the hacktoberfest and i know python so can I help you sir.

[2020-09-24 15:50] gautamkrishnar commented on #220
Welcome to the community @NFuture

[2020-09-24 15:55] NFuture commented on #220
Thank you. Do I just have to add it to the parser.py ?!

[2020-09-24 15:58] gautamkrishnar commented on #220
@NFuture you need to add it to the **parser.py** first, then you need to add the actual code executed to **socli.py**.

[2020-09-24 16:02] NFuture commented on #220
Is the version mentioned anywhere in the code ?? I am can't find it. Should I declare a new constant which denotes the version.

[2020-09-24 16:14] gautamkrishnar commented on #220
You can take the following as an example:
https://github.com/gautamkrishnar/socli/blob/983999fe7bf30baa9b7115dc34d8b3f9ffe01d35/socli/parser.py#L29

https://github.com/gautamkrishnar/socli/blob/983999fe7bf30baa9b7115dc34d8b3f9ffe01d35/socli/socli.py#L339-L342

SoCLI should immediately exit with 0 after displaying the version.

You can get version from version.py, please use the solution from: http

[2020-09-24 18:35] Saif807380 commented on #201
Can I go ahead and give this a try?

[2020-09-24 19:37] gautamkrishnar commented on #201
Yes @Saif807380 you can. Following is the trace when running the cli in --debug mode. `socli -iq for loop in python --debug`

[code]

[2020-09-24 22:05] gautamkrishnar commented on #220
@NFuture thanks a lot for your interest. This is fixed on #221. Please feel free to work on other issues if you like..

[2020-09-24 22:05] #220 closed

[2020-09-25 03:45] Saif807380 commented on #201
Thanks for the traceback. Seems like a data unpacking issue. I'm on it.

[2020-09-25 04:46] hedythedev commented on #201
Just a reminder, there are more than one references to `get_question_stats_and_answer_and_comments` that needs to be updated for unpacking the tuple:
* search.py line 340 (shown in trace back from @gautamkrishnar)
https://github.com/gautamkrishnar/socli/blob/dcc90be554ce502e3a3e91d28961ad9c67fb77ac/socli/search.py#L340
* socli.py line 283-284
https://github.com/gautamkrishnar/socli/blob/dcc90be554

[2020-09-25 06:49] gautamkrishnar commented on #201
Thanks for the pointer @hedythedev 👍

[2020-09-25 14:10] jabhishek87 commented on #205
I will work on this

[2020-09-25 19:39] #201 closed

[2020-09-25 19:45] gautamkrishnar commented on #205
@Stig124 can you please mention the platform you are running this?

[2020-09-25 19:47] #204 closed

[2020-09-25 19:47] gautamkrishnar commented on #204
stale issue, closing. Please reopen if you are still experiencing this.

[2020-09-27 03:01] boothlinux commented on #25
@gautamkrishnar

If this is still available I’d like to take a crack at this feature request.

[2020-09-27 07:56] gautamkrishnar commented on #25
yep @boothlinux you can work on it.
-  add a `--browse` argument that will let you browse the home page
- It should display a list of questions like we do in `-iq` mode. With the option to switch between tabs.
- user will be able to select one of the questions, he/she will be able to switch between featured, hot, week month, etc. Default: featured.
- it will open in the existing socli implementati

[2020-09-27 07:57] gautamkrishnar commented on #205
Closing this since I am unable to reproduce this. Feel free to reopen if you are still facing this issue.

[2020-09-27 07:57] #205 closed

[2020-09-27 08:17] gautamkrishnar commented on #127
This should be implemented as an option on `-iq` so that users can press a button to get the next 10 questions.

[2020-09-30 07:29] gautamkrishnar opened #225 "Add sentry for error logging"
Add sentry to **socli**:

Install the dependency:
[code]
Call it on the socli.py
[code]

Make sure that this code will run only when the user installed the package via pip, not during the development when someone runs `python -m socli`.

[2020-09-30 07:43] pstreff commented on #225
Hello, I would like to work on this.

[2020-09-30 09:44] gautamkrishnar commented on #225
@pstreff feel free to take it up

[2020-09-30 10:49] pstreff commented on #225
Do you mean that f someone installs the `requirements.txt`. Or are there any environment variables set to determine if we are in development mode?

[2020-09-30 11:12] gautamkrishnar commented on #225
@pstreff that's the problem. I don't have a solution to that yet.

[2020-09-30 14:12] gautamkrishnar commented on #225
@pstreff after digging a bit found a solution, just add the code below to the https://github.com/gautamkrishnar/socli/blob/bec571aca617e6eee2daed6eca4a908694dc8e8b/socli/__main__.py#L1-L4

[code]

And use the flag in https://github.com/gautamkrishnar/socli/blob/bec571aca617e6eee2daed6eca4a908694dc8e8b/socli/socli.py#L318-L322

Like:
[code]

[2020-09-30 14:15] pstreff commented on #225
@gautamkrishnar I found a different solution.
By creating `sentry.py`
[code]
and then we can call this from `setup.py` `entry_points={"console_scripts": ['socli = socli.sentry:main']},`

Let me know what you think

[2020-09-30 14:22] gautamkrishnar commented on #225
@pstreff Great!. your approach looks clean, lets do it like below:
[code]

So that it will catch any import errors too.

[2020-09-30 14:26] gautamkrishnar commented on #225
@hedythedev do you have anything else to add here?

[2020-10-01 10:30] abstanton commented on #216
Hi, could you assign me this issue? Had a look and am sure I can do it

[2020-10-01 12:11] gautamkrishnar commented on #216
@abstanton thanks for your interest

[2020-10-01 18:44] abstanton commented on #216
@gautamkrishnar Hi, I've submitted my pull request, looking forward to you having a look at it

[2020-10-02 18:57] gautamkrishnar opened #228 "Search not working"
Google had updated its source code again, our scrapper stopped working. We need to make code changes to get it back working.

[2020-10-02 19:17] #225 closed

[2020-10-04 09:14] #228 closed

[2020-10-06 07:27] pspiagicw opened #232 "Flag to output to std out"
# Flag to output directly to std out

## Features
A flag such as --raw-output could be implemented which just outputs the search result or the stackoverflow answer as machine parseable output.This enables it to be used in scripts where data manipulation tools like sed and awk could be used for the user's script

## Usablity

Usefule in scripts automating the workflow if implemented properly

[2020-10-06 20:02] godspeed5 commented on #232
I'll try doing this

[2020-10-26 18:22] LeoHop commented on #119
Hi @gautamkrishnar! If this issue is still open I would love to work on it if possible!

[2020-10-26 19:21] gautamkrishnar commented on #119
@LeoHop yes you can work on this. Please let us know how you're planning to implement it.

[2020-11-03 01:23] ankushduacodes commented on #216
@gautamkrishnar This should be a fairly easy enhancement to make. My suggestion is to add a label for the good first issue on this.

[2020-11-03 10:24] pspiagicw opened #234 "Add bash completion to socli"
Use https://github.com/kislyuk/argcomplete along with argparse to enable bash-completion.

[2020-11-03 10:26] pspiagicw commented on #234
It would be great if the cli stores the n previous operations where n is a number chosen according to storage and memory.
In simple words it could have a history like bash_history

[2020-11-03 10:29] pspiagicw opened #235 "Missing ManPage for Socli"
It would be great to have a manpage for socli.As this would enable fish(Shell) to scan them and provide help messages with a alternative help system

[2020-11-03 10:31] pspiagicw commented on #235
If somebody does not want to do it.I could do it as it looks easy.

[2020-11-03 10:46] gautamkrishnar commented on #235
@pspiagicw thanks a lot for reporting feel free to open a pull request 😄

[2020-11-06 09:49] pspiagicw opened #237 "Vim Keybindings for Interactive Mode"
It would be good to have vim keybindings.This does not break the flow while working with vim or vim based applications.
I would like to work on it if  nobody else wants to.

[2020-11-06 10:28] pspiagicw commented on #237
Sorry for submitting PR before you could reply to this one.I am really sorry

[2020-11-06 10:34] pspiagicw opened #239 "Emacs keybindings for socli"
It would be good to have both vim and emacs keybindings.I have already issued an PR for vim keybindings.
For just the sake of it we could add emacs keybindings.

[2020-11-08 13:02] #216 closed

[2020-11-08 15:03] #235 closed

[2020-11-08 15:03] gautamkrishnar commented on #235
Fixed on #236

[2020-11-08 15:04] gautamkrishnar commented on #237
@pspiagicw can you please explain what a vim keybinding is and its use case.

[2020-11-08 15:05] gautamkrishnar commented on #239
@pspiagicw can you please explain what an emacs keybinding is and its use case?

[2020-11-08 15:24] gautamkrishnar commented on #234
We can use some libraries like https://github.com/kislyuk/argcomplete to provide bash shell completion.

[2020-11-08 15:31] gautamkrishnar commented on #234
@pspiagicw updated the Issue.

[2020-11-09 04:47] pspiagicw commented on #237
Vim keybindings are keybindings used in the vim text editor.These are j for down k for up h for left(back) and l for right(forward).This in socli means that for going to the next question along with pressing down key one can press j key and for going to the previous question we could press k along with the up key.This would help a lot of users who are fluent in using vim as their text editor.I cou

[2020-11-09 04:56] pspiagicw commented on #239
Like the vim text editor emacs is another extensible editor used by a lot of Linux users.Emacs keybindings use Ctrl+n for down and Ctrl+p for up.So for going to the next answer we can use ctrl+n and ctrl+p for going to the previous answer.

[2020-11-09 05:05] pspiagicw opened #244 "Repeated name in contributors section in README"
I changed my username from prathampowar2001 to pspiagicw last month and thus there are repeated names in the contributors sectino. If you follow the link for prathampowar2001 it leads to an 404 error from github.I request you to remove prathampowar2001 from the list of contributors.As you have already added pspiagicw in the list.

[2020-11-09 10:10] pspiagicw commented on #232
Is this available.I am interested in doing this if nobody wants to do it.

[2020-11-10 06:51] gautamkrishnar commented on #239
@pspiagicw really sorry to say this. I don't think that adding any text editor or application-specific shortcuts are required at this time. Thanks again for your suggestion.

[2020-11-10 06:51] #239 closed

[2020-11-10 06:53] gautamkrishnar commented on #237
Closing this one please check #238

[2020-11-10 06:53] #237 closed

[2020-11-10 07:09] gautamkrishnar commented on #244
@all-contributors please remove @prathampowar2001 from the contributors list

[2020-11-10 07:13] #244 closed

[2020-12-26 06:17] gautamkrishnar commented on #137
Closing this one since we added highlighting the accepted answer.

[2020-12-26 06:17] #137 closed

[2021-01-06 18:55] tharunc opened #249 "Integrate Welcome Bot"
Hello there,
         I can add a welcome bot config file having a proper message that will show up when any user will open up an issue or pull-request for the first time as a part of **DWOC**. Please assign me this issue.
For reference, kindly check out: https://github.com/apps/welcome

THANK YOU

[2021-01-07 19:14] akrish4 opened #250 "ADD CONTRIBUTING FILE AND ADD ALL GIT WORKFLOW AND MAKE IT LOOK NICE"
Hi @gautamkrishnar @dstjacques @simon3270 @jm66 @kilbee @jericson
I would like to contribute to this project , I found all the contributing gudelines are mentioned in the readme file itself , I would like to add a separate file named `contributing.md` file and add all the guidlines with the git commands to follow , KIndly assign me it

[2021-01-07 20:33] gautamkrishnar commented on #250
LGTM just move the https://github.com/gautamkrishnar/socli#contributing section to CONTRIBUTING.md file. Thanks for your interest in contributing.

[2021-01-07 20:35] gautamkrishnar commented on #249
@tharunc thanks, this will be a nice addition feel free to work on that

[2021-01-08 04:04] akrish4 commented on #250
Hi @gautamkrishnar
I just need to move or shall i improve it little more ? Kindly let me know
Kindly do add the `DWOC`and `Level-2` labels  to this issue @gautamkrishnar as this project is registered under dwoc

[2021-01-08 06:10] gautamkrishnar commented on #250
I think nothing needs to be improved on that one, you can still add more stuff if you want. Yes, I will add those labels on the pr.

[2021-01-08 06:52] akrish4 commented on #250
Pls add in the issue also , they check both issue and pr
@gautamkrishnar

[2021-01-08 13:06] chetak123 commented on #234
can i take this issue as part of DWOC

[2021-01-08 13:25] gautamkrishnar commented on #234
@chetak123 yes you can make sure that you explain what you are planning to do here first.

[2021-01-08 14:04] muthuannamalai12 opened #252 "Create Issue Template"
Hai,
I would love to add an issue template for your repository. This template would have four issues namely bug, documentation, feature, proposal. It would look like the photo mentioned below.
![Template](https://user-images.githubusercontent.com/64524822/104024045-888aea80-51e8-11eb-91e9-d6699586545b.png)

[2021-01-08 14:05] muthuannamalai12 commented on #252
I would love to work on this issue as a part of DWOC. Kindly assign it to me

[2021-01-08 14:22] gautamkrishnar commented on #252
LGTM

[2021-01-08 17:22] akrish4 commented on #250
Hi @gautamkrishnar
Pls add the `Level-2` label in this issue also , I have personally asked the core team , they said both issues and pr need to be labelled
Pls add it , otherwise it may not be counted

[2021-01-08 17:26] gautamkrishnar commented on #250
@akrish4 i talked with them too and they told me the exact opposite. Anyway i will add that label. 🙂

[2021-01-08 17:34] akrish4 commented on #250
Thank you

[2021-01-08 17:36] #250 closed

[2021-01-09 10:11] muthuannamalai12 commented on #252
I have created a pull request. Kindly review it

[2021-01-09 17:09] #252 closed

[2021-01-09 17:09] #249 closed

[2021-01-14 10:49] muthuannamalai12 opened #259 "PR TEMPLATE"
## 🚀 Feature
I can add a pr template , which will have few checklists and options like uploading screenshots and describing about the pr etc , which will give better understanding of pr for the maintainer
(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/gautamkrishnar/socli/blob/master/CONTRIBUTING.md)?
Y

[2021-01-14 10:53] gautamkrishnar commented on #259
@muthuannamalai12 right now I don't think that a pr template would is required, thanks a lot for opening an issue.

[2021-01-14 10:53] #259 closed

[2021-01-17 09:52] #234 closed

[2021-01-17 14:05] gautamkrishnar commented on #232
closing this once since we have json output now. Raw output is not required anymore. This json output can be printed using appropriate tools like jq.

[2021-01-17 14:05] #232 closed

[2021-01-25 07:42] gautamkrishnar commented on #25
This is not required right now.

[2021-01-25 07:42] #25 closed

[2021-02-25 07:16] anirudhsai20 opened #263 "README enhancement"
## 📚 Documentation

(A clear and concise description of what the issue is.)
The README.md file can be enhenced by adding clear summary of what the project is about. It can also be enhanced by adding all the open source programs it has been listed in like DWOC and also adding citations if it all this project has been cited by any research paper.
### Have you read the [Contributing Guidelines on Pul

[2021-02-25 07:17] anirudhsai20 commented on #263
Hi @gautamkrishnar. Can I please work on this issue under DWOC?

[2021-02-25 07:19] anirudhsai20 opened #264 "Adding DWOC lables beside the issues."
## 📚 Documentation

(A clear and concise description of what the issue is.)
Labels of various open source programs that this project has been listed in like DWOC must be added beside each issue.
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/gautamkrishnar/socli/blob/master/CONTRIBUTING.md)?
Yes.
(Write your answer here.)

[2021-02-25 07:19] anirudhsai20 commented on #264
Hi @gautamkrishnar . Please allow me to work on this issue under DWOC?

[2021-02-25 08:00] gautamkrishnar commented on #264
nope i dont need this. Thanks for the interest.

[2021-02-25 08:00] #264 closed

[2021-02-25 08:00] #263 closed

[2021-02-25 08:00] gautamkrishnar commented on #263
no, the readme looks good for me right now.

[2021-03-04 14:27] gautamkrishnar commented on #122
Closing this once since there is already lots of plugins available for this.

[2021-03-04 14:27] #122 closed

[2021-04-05 20:47] AshirGuptash commented on #127
For this, we could possibly have a right/left arrow key to navigate sets of 10 questions which could be tracked by a 'pages' counter possibly right-aligned where you ask the user to select 0-9. Is this still active?

[2021-04-05 22:43] calkerns commented on #119
@gautamkrishnar Do you know if LeoHop ever made progress on this? If not, I can try to take a stab at it within the next few weeks

[2021-04-06 07:40] gautamkrishnar commented on #127
@AshirGuptash yep, please explain the way you are planning to implement this, if you are interested.

[2021-04-07 06:33] skidipap commented on #119
i'm gonna make PR to this

[2021-04-07 09:35] gautamkrishnar commented on #119
Thanks @skidipap it would be great.

[2021-04-07 09:36] gautamkrishnar commented on #127
@AshirGuptash as of now i dont think that this feature is required anymore. This was created when we didnt had a proper CUI implementation. Now it is almost good. Closing it.

[2021-04-07 09:36] #127 closed

[2021-04-30 11:12] simone-viozzi opened #265 "the search is broken for me"
## 🐛 Bug Report

i just installed this package from AUR and every query reported an error.
the AUR package is version 6.0 so i updated with `pip install --upgrade socli` and now i have the 6.3 version, but the search is still broken, every query i get the following error:
[code]

i don't know if it's just me and i installed it wrongly or something else. i will follow the discussion and provide any

[2021-04-30 12:00] gautamkrishnar commented on #265
@simone-viozzi will take a look at it, thanks for reporting

[2021-05-08 12:11] r4um opened #266 "Incorrect tag for 6.3 release ?"
The tag name appears as 6.3 but is SoCLI.
https://github.com/gautamkrishnar/socli/releases/tag/SoCLI

Please fix the tag/release for 6.3.

[2021-05-08 12:46] gautamkrishnar commented on #266
Thanks for spotting that @r4um fixed it.

[2021-05-08 12:47] #266 closed

[2021-05-08 16:38] gautamkrishnar commented on #265
@simone-viozzi this issue was fixed on https://github.com/gautamkrishnar/socli/releases/tag/6.9

[2021-05-08 21:10] simone-viozzi commented on #265
i need to do additional things after updating?

[code]

that's the output of the update and a search.

[2021-05-08 21:11] gautamkrishnar commented on #265
@simone-viozzi, Yea looks like google is randomizing the structure. I am trying out various stuff to fix this.

[2021-05-08 21:15] gautamkrishnar commented on #265
no problem 😄

[2021-05-11 18:10] simone-viozzi commented on #265
yes, i'm from europe

[2021-05-18 07:48] iamtalhaasghar opened #267 "Facing captchas even after adding my own Api Key"
## 🐛 Bug Report

## Actual Bug
The problem is that _**socli**_ still gives me the following captcha prompt.
`StackOverflow captcha check triggered. Please wait a few seconds before trying again. Try solving it manually: https://stackoverflow.com/nocaptcha?s=<some_random_number>`

and

**How do I make sure that `socli` is using my api key without any issues?**
Currently, it just says **api key adde

[2021-05-23 03:47] timgates42 opened #268 "Proposing a PR to fix a few small typos"
# Issue Type

[x] Bug (Typo)

# Steps to Replicate and Expected Behaviour

- Examine socli/search.py and observe `extacts`, however expect to see `extracts`.
- Examine socli/search.py and observe `explictly`, however expect to see `explicitly`.
- Examine README.md and observe `automaticially`, however expect to see `automatically`.

# Notes

Semi-automated issue generated by
https://github.com/tim

[2021-05-23 08:26] #268 closed

[2021-05-23 08:26] gautamkrishnar commented on #268
@timgates42 thanks for reproting.

[2021-06-10 06:16] UKnowWhoIm opened #273 "Google made a change in the search description which breaks Socli search"
## 🐛 Bug Report

Specifically they made the first `span` tag a `div`, which throws `AttributeError` in this segment which prevents search results from being appended leading to `No results found...`
[code]

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/gautamkrishnar/socli/blob/master/CONTRIBUTING.md)?

Yes

[2021-06-10 17:38] #273 closed

[2021-06-13 08:25] gautamkrishnar commented on #267
@iamtalhaasghar API Key is only used to fetch the user data when you use the `-u` argument. It is not actually used to fetch the answers.

[2021-06-13 08:25] #267 closed

[2021-06-13 08:30] gautamkrishnar commented on #265
Hi Guys this is fixed. Please upgrade to latest version and try again. Thanks a lot for your comments.

[2021-06-13 08:30] #265 closed

[2021-06-23 17:21] DeepSpace2 commented on #119
Any progress on this? Or can I take a stab at it?

[2021-06-23 17:39] gautamkrishnar commented on #119
@DeepSpace2 nothing yet

[2021-09-16 09:13] raijadas opened #277 "no result found"
## 🐛 Bug Report

(After writing the example code in CLI. It does not give the output. The no result output comes out.)

C:\Users\Administrator>socli for array in python
[33mNo results found...[0m

C:\Users\Administrator>socli for array in python syntax
[33mNo results found...[0m

C:\Users\Administrator>socli for loop in python syntax
[33mNo results found...[0m

C:\Users\Administrator>socli j

[2021-09-16 10:25] gautamkrishnar commented on #277
Google might've changed its HTML structure again. I Will take a look once I am free.

[2021-09-17 10:47] raijadas commented on #277
thanks for being active to the resolve issues.

[2021-09-18 14:24] #277 closed

[2021-10-19 06:52] gautamkrishnar commented on #119
@suvhotta thanks a lot, yep you are right. Hope you are planning to use https://github.com/pygments/pygments ?

[2021-11-02 13:39] suvhotta commented on #119
@gautamkrishnar @hedyhli I tried formatting the question description part. The formatting is being done, however in the display part since we are converting it into a unicode text, it simply prints the format as any regular text, instead of displaying in the output. I've attached a screenshot of the issue, for your reference.
Any ideas on how to solve this one?
![Screenshot 2021-11-02 at 7 08 01 P

[2022-04-14 18:36] vadim0x60 opened #281 "Non-interactive mode"
## 🚀 Feature

`socli` opens search results in an interactive mode that lets you flip through answers. It would be very useful to have an option like `--answer 1` to just output the first answer in plaintext and shut down.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/gautamkrishnar/socli/blob/master/CONTRIBUTING.md)?

Yes

## Motivation and pitch

The main mo

[2022-04-23 10:43] cosimopp opened #282 "back command doesn't work as expected in interactive mode"
## 🐛 Bug Report

(A clear and concise description of what the bug is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/gautamkrishnar/socli/blob/master/CONTRIBUTING.md)?

e.g.
Photo 1: I make a query
![1](https://user-images.githubusercontent.com/95437148/164890967-5f1ce75d-b523-4419-9e6b-b2d68fb8f81d.png)

Photo 2: Got the results, I'm going to surf through re

[2022-05-18 08:03] Sanix-Darker opened #283 "AttributeError: module 'collections' has no attribute 'MutableMapping'"
## 🐛 Bug Report

Some issues with recent python versions (py3.10.x)
[code]

### THE ERROR

[code]

### MY 'weird' FIX

Probably related to tornado, i fixed it by manually upgrading tornado to 6.1, since sentry_sdk is stuck on 5.1 (https://github.com/getsentry/sentry-python/blob/master/setup.py#L52)
[code]

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/gautamkr

[2022-06-18 13:24] tupokraju commented on #119
Hey, is this still open I am ready to work on it

[2022-06-18 13:27] tupokraju commented on #282
Hi, I'm interested to work on this, let me know if it is still available

[2022-06-24 07:21] dovatti opened #284 "Create better documentation"
## 📚 Documentation

Would be useful to create `wiki` pane and divide documentation by category (for final-user and developers both).
We could debloat [`README.MD`](https://github.com/gautamkrishnar/socli/blob/master/README.md) from all commands, etc etc, make it nicer and simpler, and link the `wiki` page in it. Everything will be more clear and neater.

I'll help with that if possible.

[2022-06-24 20:25] gautamkrishnar commented on #111
Re-opening this since we need more maintainers. Feel free to comment on this issue if you are interested in maintaining the project.

[2022-06-24 20:28] gautamkrishnar commented on #282
@tupokraju sorry for the late reply. yes, you can. Please open a pull request.

[2022-06-24 20:31] gautamkrishnar commented on #119
@suvhotta sorry for the late reply. I am only seeing your comment just now. @tupokraju if @suvhotta abandoned this, you can pick it up.

[2022-06-24 20:37] gautamkrishnar opened #285 "Needs maintainers"
This project was started as one of my side projects. Now it has gone beyond my control. I am really thankful to the existing contributors and users of this project for making it a grand success 😄

Due to my other projects and work schedules, I might be unavailable to do proper fixes for this project on time. I understand that the project is not at all manageable by two persons right now since it h

[2022-06-28 07:26] dovatti opened #286 ""Please check your internet connectivity" error"
## 🐛 Bug Report

Except for `socli -u` no one command works.
Whatever I try to do terminal gives me `Please check your internet connectivity...` error.

I've tried reinstalling, purge pip cache, and tried to install on other devices on other networks.
It won't work for some reason.

[2022-07-02 16:58] clouedoc commented on #277
I also get this issue when developing on a datacenter server.
I believe Google is just rate-limiting my IP. Too bad!

[2022-09-21 08:27] FergusFettes commented on #277
I'm also having this issue, the app is unusable for me. (`socli -u` works but nothing else)

I understand this module isn't really maintained, just commenting to follow in case this is picked up at some point. Looks like a nice app!

If there were some more debugging tips that might also be helpful, in case someone in my situation can do something/ get more helpful info.

[2022-09-28 12:19] mostlyvirtual opened #287 "Google searches always return No results found..."
## 🐛 Bug Report

Using socli to do Google searches always returns No results found...
I've tested on macOS and Linux, both installed with pip. Then, I pulled down the source code and confirmed that it was also present there.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/gautamkrishnar/socli/blob/master/CONTRIBUTING.md)?

Yes

[2022-09-28 13:14] #287 closed